@(application: uk.gov.gds.ier.model.InprogressApplication)

@layouts.stepIndicator(6)

<div id="step-address" class="step">
    <h2><span class="question-number">6</span><span>Where do you live?</span></h2>
    <div class="help">
        <p>If you have more than one address, just give the one where you spend most of your time.</p>
    </div>
    <div class="address-tabs">
        <div class="address-step-1">
            <div class="question">
                <label class="above">Enter your postcode to search for your address</label>
                <div class="search-wrap">
                    <input type="text" name="address.postcode" class="postcode text long">
                    <button id="find-address" class="button search"><span>Find address</span></button>
                </div>
            </div>
        </div>
        <div class="postcode-search-results">
            <div class="question">
                <div class="validation-wrap">
                    <select id="input-address-list" name="address.address" data-name="Address" class="addressList lonely"></select>
                </div>
                <div class="action"><a href="#" class="address-not-listed">My address is not listed</a></div>
            </div>
        </div>
        <div class="type-in-address">
            <div class="question">
                <label class="above">Address</label>
                <textarea id="input-address-text" name="address.address" class="small"></textarea>
            </div>
        </div>
    </div>
    <div class="address-step-2">
        <div class="validation-message"></div>
        <div class="next-question">
            <input data-next="step-name" type="submit" class="button next" value="Continue" />
        </div>
    </div>
</div>