@(formData: uk.gov.gds.ier.validation.InProgressForm)

@import uk.gov.gds.ier.form.FormHelpers._

@layouts.questionHeader("If we have questions about your application, how should we contact you?", "/register-to-vote/open-register", 10)

        <fieldset>
          <label for="contact-post" class="selectable">
            @helper.inputRadioGroup(formData(keys.contact.contactType), Seq("post" -> "Post"), 'class -> "radio", 'id -> "contact-post")
            <input id="input-post" type="hidden" name="@keys.contact.post" value="@formData(keys.address.address).value.getOrElse("")" class="hidden">
            @helper.inputText(formData(keys.contact.post), 'class -> "text", 'type -> "hidden", 'value -> formData(keys.address.address).value.getOrElse(""))
          </label>
          <label for="contact-phone" class="selectable">
            @helper.inputRadioGroup(formData(keys.contact.contactType), Seq("phone" -> "Phone Call"), 'class -> "radio", 'id -> "contact-phone")
          </label>
          <div class="optional-section info-notice @formData(keys.contact.contactType).value == Some("phone"), "visible")" data-condition="contact-phone">
            <label for="input-phone">Phone number</label>
            @validationWrap(formData(keys.contact)){
                @helper.inputText(formData(keys.contact.phone), 'class -> "text", 'type -> "tel")
            }
          </div>
          <label for="contact-text" class="selectable">
            @helper.inputRadioGroup(formData(keys.contact.contactType), Seq("text" -> "Text Message"), 'class -> "radio", 'id -> "contact-text")
          </label>
          <div class="optional-section info-notice @formData(keys.contact.contactType).value == Some("text"), "visible")" data-condition="contact-text">
            <label for="input-text-number">Phone number</label>
            @validationWrap(formData(keys.contact)){
                @helper.inputText(formData(keys.contact.textNum), 'class -> "text", 'type -> "tel")
            }
          </div>
          <label for="contact-email" class="selectable">
            @helper.inputRadioGroup(formData(keys.contact.contactType), Seq("email" -> "Email"), 'class -> "radio", 'id -> "contact-email")
          </label>
          <div class="optional-section info-notice @formData(keys.contact.contactType).value == Some("email"), "visible")" data-condition="contact-email">
            <label for="input-email">Email address</label>
            @validationWrap(formData(keys.contact)){
                @helper.inputText(formData(keys.contact.email), 'class -> "text long", 'type -> "email")
            }
          </div>
        </fieldset>
        @validationMessage(formData(keys.contact.contactType))
        @validationMessage(formData(keys.contact))
        <input type="submit" class="button next" value="Continue" />
