@(formData: uk.gov.gds.ier.validation.InProgressForm)

@import uk.gov.gds.ier.form.FormHelpers._

@layouts.questionHeader("If we have questions about your application, how should we contact you?", "/register-to-vote/open-register", 11)

        <fieldset>
          <label class="selectable">
            <input type="radio" id="contact-post_post" name="contact.contactType" value="post" class="radio">Post
            <input id="input-post" type="hidden" name="@keys.contact.post" value="@formData(keys.address.address).value.getOrElse("")" class="hidden">
          </label>
          <label class="selectable">
            <input type="radio" id="contact-phone_phone" name="contact.contactType" value="phone" class="radio">Phone call
          </label>
          <div class="optional-section @formData(keys.contact.contactType).value == Some("phone"), "visible")" data-condition="contact-phone_phone">
            <label for="contact-phone">Phone number</label>
            <input type="tel" id="contact-phone" name="contact.phone" value="" class="text">
          </div>
          <label class="selectable">
            <input type="radio" id="contact-text_text" name="contact.contactType" value="text" class="radio">Text message
          </label>
          <div class="optional-section @formData(keys.contact.contactType).value == Some("text"), "visible")" data-condition="contact-text_text">
            <label for="contact_textNum">Phone number</label>
            <input type="tel" id="contact-textNum" name="contact.textNum" value="" class="text">
          </div>
          <label class="selectable">
            <input type="radio" id="contact-email_email" name="contact.contactType" value="email" class="radio">Email
          </label>
          <div class="optional-section @formData(keys.contact.contactType).value == Some("email"), "visible")" data-condition="contact-email_email">
            <label for="input-email">Email address</label>
            <input type="email" id="contact-email" name="contact.email" value="" class="text">
          </div>
        </fieldset>
        @validationMessage(formData(keys.contact.contactType))
        @validationMessage(formData(keys.contact))
        <input type="submit" class="button next" value="Continue" />
