@(formData: uk.gov.gds.ier.validation.InProgressForm)

@import includes._
@import uk.gov.gds.ier.validation.DateOfBirthConstants
@import uk.gov.gds.ier.form.FormHelpers._

@layouts.questionHeader("What is your date of birth?", "/register-to-vote/nationality", 2)

        <fieldset>
          <label for="input-dob-day" class="visuallyhidden">Day you were born</label>
          @helper.select(
              formData(keys.dob.day),
              DateOfBirthConstants.days,
              '_default -> "Day", 'class -> "day"
          )
          @helper.select(
              formData(keys.dob.month),
              DateOfBirthConstants.months,
              '_default -> "Month", 'class -> "month"
          )
          <label for="input-dob-year" class="visuallyhidden">Year you were born</label>
          <input id="input-dob-year" name="dob.year" type="text" class="year text small" placeholder="Year" />
        </fieldset>
        <div class="help-content">
          <h3>Help</h3>
          <p>If you don’t know your exact date of birth, use the one you put on official documents (for example, your passport or driving licence.</p>
          <p>If you can’t provide your date of birth you’ll have to send copies of identity documents through the post.</p>
          <fieldset class="optional-section">
            <h3>I can't provide my date of birth</h3>
            <label id="noDOBReason">Why can't you provide your date of birth?</label>
            <textarea id="noDOBReason" name="noDOBReason" class="small"></textarea>
            <p>How old are you?</p>
            <label class="selectable" for="DOBunder18">
              <input type="radio" id="DOBunder18" name="DOBStatement" value="under18" class="radio"><span class="visuallyhidden">I am</span>Under 18 years old
            </label>
            <label class="selectable" for="DOB18to70">
              <input type="radio" id="DOB18to70" name="DOBStatement" value="18to70" class="radio"><span class="visuallyhidden">I am</span>Between 18 and 70 years old
            </label>
            <label class="selectable" for="DOBover70">
              <input type="radio" id="DOBover70" name="DOBStatement" value="over70" class="radio"><span class="visuallyhidden">I am</span>Over 70 years old
            </label>
            <label class="selectable" for="DOBdontknow">
              <input type="radio" id="DOBdontknow" name="DOBStatement" value="dontKnow" class="radio">I don't know<span class="visuallyhidden"> how old I am</span>
            </label>
          </fieldset>
        </div>
        <div class="validation-message"></div>
        <input data-next="step-name" type="submit" class="button next" value="Continue" />
