@(formData: uk.gov.gds.ier.model.InProgressForm)

@import uk.gov.gds.ier.form.FormHelpers._

@layouts.stepIndicator(3)

<div id="step-name" class="step">
    <h2><span class="question-number">3</span><span>What is your name?</span></h2>
    <div class="question">
        <label class="above">First name or names</label>
        @helper.inputText(formData(keys.name.firstName), 'class -> "text first-name long")
    </div>
    <div class="question">
        <label class="above"><span>Middle names</span><span class="optional"></span></label>
        @helper.inputText(formData(keys.name.middleNames), 'class -> "text middle-names long")
    </div>
    <div class="question">
        <label class="above">Last name</label>
        @helper.inputText(formData(keys.name.lastName), 'class -> "text last-name long")
    </div>
    @validationMessage(formData(keys.name.firstName))
    @validationMessage(formData(keys.name.middleNames))
    @validationMessage(formData(keys.name.lastName))
    <div class="next-question">
        <input data-next="step-name" type="submit" class="button next" value="Continue" />
    </div>
</div>