@(formData:uk.gov.gds.ier.validation.InProgressForm)
@import uk.gov.gds.ier.form.FormHelpers._

@layouts.questionHeader("Do you spend part of your time living at another UK address?", "/register-to-vote/previous-address", 8)

        <fieldset>
          <label class="selectable binary @classIf(formData(keys.otherAddress.hasOtherAddress).value == Some("true"), "selected")">
            <input type="radio" id="input-other-address-yes" name="@keys.otherAddress.hasOtherAddress" value="true" class="radio" @checkedIf(formData(keys.otherAddress.hasOtherAddress).value == Some("true"))>Yes
          </label>
          <label class="selectable binary @classIf(formData(keys.otherAddress.hasOtherAddress).value == Some("false"), "selected")">
            <input type="radio" id="input-other-address-no" name="@keys.otherAddress.hasOtherAddress" value="false" class="radio" @checkedIf(formData(keys.otherAddress.hasOtherAddress).value == Some("false"))>No
          </label>
        </fieldset>
        <p>If you have two homes, and spend about the same amount of time in each, you may be able to register to vote at both addresses.</p>
        <p>If you want to vote at your second address you will need to complete another application.</p>
        <div class="validation-message"></div>
        @validationMessage(formData(keys.otherAddress))
        <input data-next="step-name" type="submit" class="button next" value="Continue" />
