@(formData:uk.gov.gds.ier.validation.InProgressForm)
@import uk.gov.gds.ier.form.FormHelpers._

@layouts.questionHeader("Do you want to apply for a postal vote?", "/register-to-vote/postal-vote", 10)

        <fieldset>
          <p>This is the postal vote page</p>
          <p>The open register is an edited version of the electoral register that's available for sale to anyone (for example, companies or charities who want to send you information).</p>
          <p>Your decision does not affect your right to vote or your credit score.</p>
          <label for="postalVoteOptin" class="selectable">
            <input type="checkbox" id="postalVoteOptin" name="@keys.postalVote.optIn" value="false" @checkedIf(formData(keys.postalVote.optIn).value)>Remove my details from the open register
          </label>
        </fieldset>
        @validationMessage(formData(keys.postalVote))
        <button class="button next">Continue</button>
