@(formData:uk.gov.gds.ier.validation.InProgressForm, possibleAddresses: Seq[(String, String)] = Seq.empty[(String,String)])

@import uk.gov.gds.ier.form.FormHelpers._

@layouts.questionHeader("Have you moved within the last 12 months?", "/register-to-vote/address", 7)

        <fieldset>
          <label class="selectable" for="input-previous-address-yes">
            <input type="radio" id="input-previous-address-yes" name="movedRecently" value="true" class="radio" @checkedIf(application.movedRecently == Some("true"))>Yes
          </label>
          <label class="selectable" for="input-previous-address-no">
            <input type="radio" id="input-previous-address-no" name="movedRecently" value="false" class="radio" @checkedIf(application.movedRecently == Some("false"))>No
          </label>
        </fieldset>
        <fieldset class="optional-section @classIf(application.movedRecently == Some("true"), "visible")" data-condition="input-previous-address-yes">
          <label for="previousAddress-postcode">Enter the postcode to find your previous address</label>
          @helper.inputText(formData(keys.previousAddress.previousAddress.postcode), 'class -> "postcode text long")
          <button id="find-previous-address" class="button search">Find address</button>
          <label for="input-previous-address-list" class="visuallyhidden">Previous address</label>
          @helper.select(formData(keys.previousAddress.previousAddress.address), possibleAddresses, 'class -> "addressList lonely", 'id -> "input-previous-address-list")
          <div class="help-content">
            <h2>The address is not listed</h2>
            <label for="input-previous-address-text">Previous address</label>
            @helper.textarea(formData(keys.previousAddress.previousAddress.address), 'class -> "small")
          </div>
        </fieldset>
        @validationMessage(formData(keys.previousAddress))
        @validationMessage(formData(keys.previousAddress.previousAddress.address))
        @validationMessage(formData(keys.previousAddress.previousAddress.postcode))
        <input data-next="step-name" type="submit" class="button next" value="Continue" />
