@(id:String, label:String, options:Seq[(String, String)], inputAttributes:Map[Symbol,String] = Map.empty, labelAttributes:Map[Symbol,String] = Map.empty, crossField: String = "")(implicit formData:uk.gov.gds.ier.validation.InProgressForm, renderer: uk.gov.gds.ier.form.FormHelpers.FormRenderer)

    @import uk.gov.gds.ier.form.FieldHelpers._

    @labelHtml(content:Html) = {
        @defining(formData.form(crossField)) { crossField =>
            @defining(formData.form(id)) { field =>
            <label for="@id.replace(".", "_")" class="@(if(field.hasErrors) "invalid" else "") @(if(crossField.hasErrors) "invalid" else "") @labelAttributes.get('class).getOrElse("")" @asAttributes(labelAttributes.without('for, 'class))>
                @label
            </label>
            @content
            }
        }
    }

    @inputHtml = {
        @defining(formData.form(crossField)) { crossField =>
            @defining(formData.form(id)) { field =>
            <select id="@id.replace(".", "_")" name="@field.name" class="@(if(field.hasErrors) "invalid" else "") @(if(crossField.hasErrors) "invalid" else "") @inputAttributes.get('class).getOrElse("")" @asAttributes(inputAttributes.without('class, 'id, 'name))>
            @inputAttributes.get('_default).map { defaultValue =>
                <option class="blank" value="">@defaultValue</option>
            }
            @defining( ( !field.indexes.isEmpty && inputAttributes.contains('multiple) ) match {
                case true => field.indexes.map( i => field("[%s]".format(i)).value ).flatten.toSet
                case _ => field.value.toSet
            }){ values =>
            @options.map { v =>
                <option value="@v._1" @if(values.contains(v._1)){selected}>@v._2</option>
            }
        }
        </select>
       }
    }
    }
@defining(formData.form(id)) { field =>
    @renderer(inputHtml, labelHtml, field)
}