@(id:String, label:String, inputAttributes:Map[Symbol,String] = Map.empty, labelAttributes:Map[Symbol,String] = Map.empty)(implicit form:Form[_])
@inputType = @{ inputAttributes.get('type).getOrElse("text") }
@defining(form(id)) { field =>
<label for="@id.replace(".", "_")" class="@(if(field.hasErrors) "invalid" else "") @labelAttributes.get('class).getOrElse("")">@label</label>
<textarea name="@field.name" id="@id.replace(".", "_")" class="@(if(field.hasErrors) "invalid" else "") @inputAttributes.get('class).getOrElse("")">@field.value.getOrElse("")</textarea>
}
