@(id:String, label:String, inputAttributes:Map[Symbol,String] = Map.empty, labelAttributes:Map[Symbol,String] = Map.empty)(implicit formData:uk.gov.gds.ier.validation.InProgressForm, renderer: uk.gov.gds.ier.form.FormHelpers.FormRenderer)
@inputType = @{ inputAttributes.get('type).getOrElse("text") }
@labelHtml(content:Html) = {
@defining(formData.form(id)) { labelField =>
<label for="@id.replace(".", "_")" class="@(if(labelField.hasErrors) "invalid" else "") @labelAttributes.get('class).getOrElse("")">@label</label>
@content
}
}
@inputHtml = {
@defining(formData.form(id)) { inputField =>
<textarea name="@inputField.name" id="@id.replace(".", "_")" class="@(if(inputField.hasErrors) "invalid" else "") @inputAttributes.get('class).getOrElse("")">@inputField.value.getOrElse("")</textarea>
}
}
@defining(formData.form(id)) { field =>
@renderer(inputHtml, labelHtml, field)
}
