@(id:uk.gov.gds.ier.validation.Key, label:String, inputAttributes:Map[Symbol,String] = Map.empty, labelAttributes:Map[Symbol,String] = Map.empty, crossField: uk.gov.gds.ier.validation.Key = uk.gov.gds.ier.validation.Key(""))(implicit formData:uk.gov.gds.ier.validation.InProgressForm, renderer: uk.gov.gds.ier.form.FormHelpers.FormRenderer)
@import uk.gov.gds.ier.form.FieldHelpers._
@inputType = @{ inputAttributes.get('type).getOrElse("text") }
@labelHtml(content:Html) = {
@defining(formData(crossField)) { crossField =>
@defining(formData(id)) { field =>
<label for="@id.asId()" class="@(if(field.hasErrors) "invalid" else "") @(if(crossField.hasErrors) "invalid" else "") @labelAttributes.get('class).getOrElse("")" @asAttributes(labelAttributes.without('for, 'class))>
    @label
</label>
@content
}
}
}
@inputHtml = {
@defining(formData(crossField)) { crossField =>
@defining(formData(id)) { field =>
<input type="@inputType" id="@id.asId()" name="@field.name" value="@getValue(field, inputAttributes)" @if(inputAttributes.contains('placeholder)) { placeholder="@inputAttributes.get('placeholder).getOrElse("")" } class="text @(if(field.hasErrors) "invalid" else "") @(if(crossField.hasErrors) "invalid" else "") @inputAttributes.get('class).getOrElse("")" @asAttributes(inputAttributes.without('class, 'id, 'type, 'name, 'value))>
}
}
}
@defining(formData(id)) { field =>
@renderer(inputHtml, labelHtml, field)
}