/* govuk_frontend_toolkit styles */
@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/
/* line 49, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/../govuk_frontend_toolkit/stylesheets/_shims.scss */
fieldset:after, .confirmation div:after {
  content: "";
  display: block;
  clear: both;
}

/* CSS 3 Mixins

  Add them as you need them. This should let us manage vendor prefixes in one place.
 */
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/
/* line 49, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/../govuk_frontend_toolkit/stylesheets/design-patterns/../_shims.scss */
fieldset:after, .confirmation div:after {
  content: "";
  display: block;
  clear: both;
}

/* CSS 3 Mixins

  Add them as you need them. This should let us manage vendor prefixes in one place.
 */
@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

/*

Mixin and defaults for making buttons on GOV.UK services.

For guidance, see: https://www.gov.uk/service-manual/design-and-content/resources/buttons.html

Example usage:

.button{
  @include button;
}
.button-secondary{
  @include button($grey-3);
}
.button-warning{
  @include button($red);
}

*/
/* IER styles */
/* Global styles for all pages */
/* line 5, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
p,
ol,
ul,
li {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
}
@media (max-width: 640px) {
  /* line 5, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
  p,
  ol,
  ul,
  li {
    font-size: 16px;
    line-height: 1.25;
  }
}

/* line 9, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
p {
  margin: 0 0 1em;
}

/* line 13, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
ul, li {
  list-style-type: circle;
  list-style-image: url("/assets/images/bullet-disc-5px.gif");
}

/* line 18, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
ul {
  padding-left: 1em;
}

/* line 22, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
li {
  margin: 0.25em 0;
  padding-left: 0.3em;
}

/* line 27, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
h1 {
  font-family: "nta", Arial, sans-serif;
  font-size: 27px;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
}
@media (max-width: 640px) {
  /* line 27, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
  h1 {
    font-size: 18px;
    line-height: 1.11111;
  }
}
@media (max-width: 640px) {
  /* line 27, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
  h1 {
    font-size: 19px;
  }
}

/* line 35, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
h2 {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  margin-bottom: 1em;
}
@media (max-width: 640px) {
  /* line 35, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
  h2 {
    font-size: 20px;
    line-height: 1.2;
  }
}

/* line 40, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
h3 {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
}
@media (max-width: 640px) {
  /* line 40, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
  h3 {
    font-size: 16px;
    line-height: 1.25;
  }
}

/* line 45, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
input,
textarea {
  box-sizing: border-box;
}

/* line 49, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
select {
  margin: 0 0.6em 0 0;
  max-width: 100%;
  overflow: hidden;
  border: 1px solid #aaaaaa;
}

/* line 56, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
textarea {
  padding: 10px;
}

/* line 60, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
.button {
  background-color: #00823b;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.35em 0.5em 0.15em 0.5em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #003518;
  -moz-box-shadow: 0 2px 0 #003518;
  box-shadow: 0 2px 0 #003518;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: white;
}
/* line 51, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button:visited {
  background-color: #00823b;
}
/* line 55, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button:hover, .button:focus {
  background: #00692f;
}
/* line 58, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button:active {
  top: 2px;
  -webkit-box-shadow: 0 0 0 #00823b;
  -moz-box-shadow: 0 0 0 #00823b;
  box-shadow: 0 0 0 #00823b;
}
/* line 66, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button.disabled, .button[disabled="disabled"], .button[disabled] {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
/* line 68, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button.disabled:hover, .button[disabled="disabled"]:hover, .button[disabled]:hover {
  cursor: default;
  background-color: #00823b;
}
/* line 72, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button.disabled:active, .button[disabled="disabled"]:active, .button[disabled]:active {
  top: 0;
  -webkit-box-shadow: 0 2px 0 #003518;
  -moz-box-shadow: 0 2px 0 #003518;
  box-shadow: 0 2px 0 #003518;
}
/* line 86, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button:hover, .button:focus, .button:visited {
  color: white;
}
/* line 100, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button:before {
  content: "";
  height: 110%;
  width: 100%;
  display: block;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 110, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button:active:before {
  top: -10%;
  height: 120%;
}
/* line 123, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button[rel="external"]:after {
  display: none;
  content: none;
  margin-left: 0;
  margin-right: 0;
}

/* line 64, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
.button {
  padding: 0.3em 0.6em 0.2em 0.6em;
}

/* line 68, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
.breadcrumbs {
  margin: 0 15px;
  padding: 0.75em 0;
  overflow: hidden;
}
@media (min-width: 641px) {
  /* line 68, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
  .breadcrumbs {
    margin: 0 32px;
  }
}

/* line 78, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
.breadcrumbs li {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  background-image: url("/assets/images/separator.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  float: left;
  list-style: none;
  line-height: 1.25;
  margin: 0 0.5em 0 0;
  padding-right: 1em;
  padding-left: 0;
}
@media (max-width: 640px) {
  /* line 78, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
  .breadcrumbs li {
    font-size: 14px;
    line-height: 1.14286;
  }
}

/* line 91, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
.breadcrumbs li:last-child {
  background: none;
  padding-right: 0;
}

/* line 96, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
.breadcrumbs li a {
  color: #111;
}

/* line 100, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
.breadcrumbs li strong {
  font-weight: normal;
}

/* get started buttons */
/* line 105, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
.get-started {
  margin: 1.5em 0;
}
/* line 108, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
.get-started .destination {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  font-weight: 400;
  text-transform: none;
  color: #bfc1c3;
  display: block;
  margin-top: 0.5em;
  max-width: 13em;
}
@media (max-width: 640px) {
  /* line 108, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
  .get-started .destination {
    font-size: 12px;
    line-height: 1.25;
  }
}

/* line 117, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
.get-started .button {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 0.66667;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  display: inline-block;
  padding: 0.6em 1.7em 0.45em 0.67em;
  background-image: url("/assets/images/icon-pointer.png");
  background-position: 105% 50%;
  background-repeat: no-repeat;
}
@media (max-width: 640px) {
  /* line 117, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
  .get-started .button {
    font-size: 20px;
    line-height: 1.2;
  }
}
@media (min-width: 769px) {
  /* line 117, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
  .get-started .button {
    background-position: 100% 50%;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 117, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
  .get-started .button {
    background-image: url("/assets/images/icon-pointer-2x.png");
    background-size: 30px 19px;
  }
}

/* line 145, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
#content {
  margin: 0 auto;
  max-width: 1020px;
}

/* line 155, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
article,
form {
  padding: 0 1em 2em 1em;
}
@media (min-width: 641px) {
  /* line 155, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
  article,
  form {
    padding: 0 2em;
  }
}
@media (min-width: 769px) {
  /* line 155, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
  article,
  form {
    padding-left: 2em;
  }
}

/* line 167, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
article {
  margin-right: 0;
}
@media (min-width: 769px) {
  /* line 167, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
  article {
    margin-right: 22.25em;
    min-height: 35em;
    max-width: 38em;
  }
}

/* line 177, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
form {
  padding-top: 2em;
  @extends %contain-floats;
}

/* line 182, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
.inner-block {
  padding: 0 15px;
}

/* line 187, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
#main,
.global-header .header-wrapper {
  padding-left: 0;
  padding-right: 0;
}

/* line 192, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
.help-notice {
  font-weight: 600;
  padding-left: 3em;
  background: url("/assets/images/icon-important.png") no-repeat scroll 0 0.5em;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 192, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/core.scss */
  .help-notice {
    background-image: url("/assets/images/icon-important-2x.png");
    background-size: 34px 34px;
  }
}

/* Styles for the question pages */
/* global form control styles */
/* line 8, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
label,
select,
input,
textarea {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
}
@media (max-width: 640px) {
  /* line 8, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
  label,
  select,
  input,
  textarea {
    font-size: 16px;
    line-height: 1.25;
  }
}

/* line 15, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
label,
textarea,
.search,
.next {
  display: block;
}

/* line 19, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
label {
  margin-bottom: 0.5em;
}

/* line 24, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
textarea,
select {
  margin-bottom: 1em;
}

/* line 28, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
label.selectable {
  display: block;
  position: relative;
  background: #F0F0F0;
  border: 1px solid white;
  padding: 12px 14px 12px 46px;
  margin: 0 0 1em 0;
}
/* line 36, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
label.selectable input {
  position: absolute;
  left: 14px;
  top: 12px;
  margin-right: 10px;
}
@media (min-width: 641px) {
  /* line 28, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
  label.selectable {
    float: left;
    clear: left;
    line-height: 140%;
    margin-right: 1em;
  }
  /* line 49, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
  label.selectable input {
    margin-bottom: 10px;
  }
}

/* line 55, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
label.binary {
  float: left;
  width: 27%;
}
/* line 59, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
label.binary:last-child {
  float: right;
}
@media (min-width: 641px) {
  /* line 55, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
  label.binary {
    width: auto;
    display: -moz-inline-stack;
    display: inline-block;
  }
  /* line 64, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
  label.binary:last-child {
    float: none;
  }
}

/* line 73, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
label.selected {
  border: 1px solid #555555;
  background: #fff;
}

/* line 78, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
label.country-label {
  display: -moz-inline-stack;
  display: inline-block;
}

/* line 88, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
textarea,
textarea.small,
input.medium,
select.lonely,
input.text,
input.long,
.twitter-typeahead {
  width: 100%;
}

/* line 92, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
input.text {
  text-transform: none;
  border: 1px solid #bbbbbb;
  margin: 0 0 1em;
  padding: 0.5em;
}

/* line 99, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
input.short {
  width: 80px;
}

@media (min-width: 641px) {
  /* line 104, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
  input.text {
    min-width: 8em;
  }

  /* line 108, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
  input.long {
    width: 320px;
  }

  /* line 112, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
  input.medium {
    width: 160px;
  }

  /* line 116, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
  textarea.small {
    width: 320px;
    height: 120px;
  }

  /* line 122, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
  textarea,
  select.lonely {
    width: auto;
  }
}
/* Styles specific to question pages */
/* line 129, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
.back-to-previous {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  display: block;
  position: absolute;
  text-decoration: none;
  border-bottom: #0b0c0c 1px solid;
  width: 2.25em;
  background: url("/assets/images/icon-caret-left.png") left 0.2em no-repeat;
  padding-left: 0.75em;
  text-align: right;
}
@media (max-width: 640px) {
  /* line 129, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
  .back-to-previous {
    font-size: 14px;
    line-height: 1.14286;
  }
}
@media (max-width: 640px) {
  /* line 129, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
  .back-to-previous {
    font-size: 16px;
  }
}
/* line 147, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
.back-to-previous, .back-to-previous:active, .back-to-previous:hover, .back-to-previous:focus {
  color: #0b0c0c;
}

/* line 152, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
main header {
  padding-bottom: 2em;
}
/* line 154, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
main header, main header p {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
}
@media (max-width: 640px) {
  /* line 154, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
  main header, main header p {
    font-size: 14px;
    line-height: 1.14286;
  }
}
@media (max-width: 640px) {
  /* line 154, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
  main header, main header p {
    font-size: 16px;
  }
}
/* line 164, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
main header p {
  text-align: right;
  padding-left: 4.5em;
  margin-bottom: 0;
  color: #6f777b;
}
@media (min-width: 641px) {
  /* line 164, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
  main header p {
    text-align: left;
  }
}
/* line 175, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
main header.question-one p {
  padding-left: 0;
}
/* line 179, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
main header h1 {
  margin-top: 2em;
}
@media (min-width: 641px) {
  /* line 179, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
  main header h1 {
    margin-top: 1.2em;
  }
}

/* line 188, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
fieldset {
  margin-left: 0;
}

/* line 193, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
.duplicate-control {
  display: block;
}
/* line 196, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
p .duplicate-control {
  display: inline;
}

/* line 201, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
.remove-field {
  margin-left: 1em;
}

/* line 206, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
.validation-wrap,
.invalid {
  display: -moz-inline-stack;
  display: inline-block;
}

/* line 210, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
.toggle {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  display: block;
  clear: both;
}
@media (max-width: 640px) {
  /* line 210, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
  .toggle {
    font-size: 16px;
    line-height: 1.25;
  }
}

/* line 216, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
.toggle-closed {
  background: url("/assets/images/icon-caret-right.png") left 0.3em no-repeat;
  padding-left: 0.75em;
}

/* line 221, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
.toggle-open {
  background: url("/assets/images/icon-caret-down.png") left 0.5em no-repeat;
  padding-left: 0.75em;
}

/* line 226, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
.info-notice {
  border-left: #bfc1c3 solid 4px;
  padding-left: 15px;
}

/* line 232, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
.next,
.search {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  box-sizing: border-box;
  font-size: 19px;
  text-align: center;
  clear: both;
  margin: 1.68421em 0;
  width: 100%;
}
@media (max-width: 640px) {
  /* line 232, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
  .next,
  .search {
    font-size: 16px;
    line-height: 1.25;
  }
}
@media (max-width: 640px) {
  /* line 232, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
  .next,
  .search {
    font-size: 19px;
  }
}
@media (min-width: 641px) {
  /* line 232, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
  .next,
  .search {
    width: auto;
  }
}

/* line 250, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
.next {
  padding: 0.6em 0.8em 0.5em 0.8em;
}

/* line 254, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
.search {
  background-color: #2b8cc4;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.35em 0.5em 0.15em 0.5em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #1d5f85;
  -moz-box-shadow: 0 2px 0 #1d5f85;
  box-shadow: 0 2px 0 #1d5f85;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: white;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  display: block;
  padding: 0.6em 0.8em 0.5em 0.8em;
  margin-top: 0;
}
/* line 51, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.search:visited {
  background-color: #2b8cc4;
}
/* line 55, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.search:hover, .search:focus {
  background: #267daf;
}
/* line 58, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.search:active {
  top: 2px;
  -webkit-box-shadow: 0 0 0 #2b8cc4;
  -moz-box-shadow: 0 0 0 #2b8cc4;
  box-shadow: 0 0 0 #2b8cc4;
}
/* line 66, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.search.disabled, .search[disabled="disabled"], .search[disabled] {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
/* line 68, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.search.disabled:hover, .search[disabled="disabled"]:hover, .search[disabled]:hover {
  cursor: default;
  background-color: #2b8cc4;
}
/* line 72, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.search.disabled:active, .search[disabled="disabled"]:active, .search[disabled]:active {
  top: 0;
  -webkit-box-shadow: 0 2px 0 #1d5f85;
  -moz-box-shadow: 0 2px 0 #1d5f85;
  box-shadow: 0 2px 0 #1d5f85;
}
/* line 86, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.search:hover, .search:focus, .search:visited {
  color: white;
}
/* line 100, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.search:before {
  content: "";
  height: 110%;
  width: 100%;
  display: block;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 110, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.search:active:before {
  top: -10%;
  height: 120%;
}
/* line 123, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.search[rel="external"]:after {
  display: none;
  content: none;
  margin-left: 0;
  margin-right: 0;
}
@media (max-width: 640px) {
  /* line 254, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
  .search {
    font-size: 16px;
    line-height: 1.25;
  }
}

/* line 262, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
.validation-wrap.invalid {
  display: -moz-inline-stack;
  display: inline-block;
  background: #f47738;
  padding: 0.2em;
  margin: -0.2em 0.4em -0.2em -0.2em;
}
/* line 268, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
.validation-wrap.invalid select {
  margin: 0;
}

/* line 273, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
#wait-for-request {
  padding-right: 20px;
  background: url("/assets/images/spinner.gif") right center no-repeat;
  display: -moz-inline-stack;
  display: inline-block;
}

/* line 279, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/questions.scss */
.validation-message {
  padding: 0.5em;
  font-size: 19px;
  display: none;
  margin: 0 0 1em 0;
  border-left: 4px solid #f47738;
  color: #f47738;
  font-weight: bold;
}

/* Styles for the confirmation page */
/* line 4, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/confirmation.scss */
.confirmation article {
  padding-top: 2em;
  padding-bottom: 0;
}
/* line 9, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/confirmation.scss */
.confirmation form {
  padding-top: 0;
  overflow: hidden;
}
/* line 15, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/confirmation.scss */
.confirmation h3,
.confirmation p {
  color: #6f777b;
}
/* line 19, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/confirmation.scss */
.confirmation p {
  margin-bottom: 1em;
}
/* line 24, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/confirmation.scss */
.confirmation div,
.confirmation .help-notice {
  border-top: 1px solid #dee0e2;
}
/* line 28, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/confirmation.scss */
.confirmation div {
  padding: 1em 5.5em 1em 0;
  position: relative;
}
@media (min-width: 641px) {
  /* line 28, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/confirmation.scss */
  .confirmation div {
    padding-right: 0;
  }
}
/* line 39, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/confirmation.scss */
.confirmation div h3,
.confirmation div .data-wrap,
.confirmation div .change {
  vertical-align: top;
}
/* line 44, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/confirmation.scss */
.confirmation div h3,
.confirmation div .data-wrap {
  border-top: none;
  margin: 0 0 1em;
  padding: 0;
}
@media (min-width: 641px) {
  /* line 44, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/confirmation.scss */
  .confirmation div h3,
  .confirmation div .data-wrap {
    display: -moz-inline-stack;
    display: inline-block;
  }
}
/* line 54, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/confirmation.scss */
.confirmation div h3 {
  font-weight: normal;
  width: 33%;
}
/* line 59, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/confirmation.scss */
.confirmation div .data-wrap {
  padding: 0;
}
@media (min-width: 641px) {
  /* line 59, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/confirmation.scss */
  .confirmation div .data-wrap {
    padding: 0 1.25em;
    width: 35%;
  }
}
/* line 67, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/confirmation.scss */
.confirmation div .data-wrap p {
  color: #0b0c0c;
}
/* line 71, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/confirmation.scss */
.confirmation div .data-wrap .message {
  color: #6f777b;
}
/* line 77, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/confirmation.scss */
.confirmation .back-to-previous {
  position: static;
}
/* line 81, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/confirmation.scss */
.confirmation .change {
  background-color: #dee0e2;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.35em 0.5em 0.15em 0.5em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #0b0c0c;
  position: absolute;
  top: 1em;
  right: 0;
}
/* line 51, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.confirmation .change:visited {
  background-color: #dee0e2;
}
/* line 55, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.confirmation .change:hover, .confirmation .change:focus {
  background: #d0d3d6;
}
/* line 58, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.confirmation .change:active {
  top: 2px;
  -webkit-box-shadow: 0 0 0 #dee0e2;
  -moz-box-shadow: 0 0 0 #dee0e2;
  box-shadow: 0 0 0 #dee0e2;
}
/* line 66, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.confirmation .change.disabled, .confirmation .change[disabled="disabled"], .confirmation .change[disabled] {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
/* line 68, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.confirmation .change.disabled:hover, .confirmation .change[disabled="disabled"]:hover, .confirmation .change[disabled]:hover {
  cursor: default;
  background-color: #dee0e2;
}
/* line 72, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.confirmation .change.disabled:active, .confirmation .change[disabled="disabled"]:active, .confirmation .change[disabled]:active {
  top: 0;
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
}
/* line 93, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.confirmation .change:hover, .confirmation .change:focus, .confirmation .change:visited {
  color: #0b0c0c;
}
/* line 100, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.confirmation .change:before {
  content: "";
  height: 110%;
  width: 100%;
  display: block;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 110, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.confirmation .change:active:before {
  top: -10%;
  height: 120%;
}
/* line 123, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/../govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.confirmation .change[rel="external"]:after {
  display: none;
  content: none;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 641px) {
  /* line 81, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/confirmation.scss */
  .confirmation .change {
    position: static;
    float: right;
  }
}
/* line 93, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/confirmation.scss */
.confirmation .help-notice {
  color: #0b0c0c;
  padding-top: 1em;
  background-position: 0 1.25em;
}

/* line 16, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/application.scss */
.tabs {
  border-bottom: 1px solid #666666;
  margin: 1em 0 2em 0;
}

/* line 21, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/application.scss */
.tabs .tab {
  display: inline-block;
  margin: 0 5px 0 5px;
  background: #fff;
}

/* line 27, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/application.scss */
.tabs .tab.selected {
  margin-bottom: -1px;
}

/* line 31, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/application.scss */
.tabs .tab.selected a {
  padding-bottom: 11px;
}

/* line 35, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/application.scss */
.tabs .tab a {
  font-size: 17px;
  display: inline-block;
  color: #222;
  padding: 10px 14px;
  border: 1px solid #666666;
  border-bottom: none;
  text-decoration: none;
}

/* line 45, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/application.scss */
.tab-content {
  display: none;
}

/* line 49, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/application.scss */
.tab-content.selected {
  display: block;
}

/* line 55, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/application.scss */
.typeahead,
.tt-query,
.tt-hint {
  font-size: 19px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  border: 1px solid #bbbbbb;
  margin: 0;
  padding: 0.5em;
}

/* line 65, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/application.scss */
.tt-hint {
  display: none;
}

/* line 69, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/application.scss */
.tt-dropdown-menu {
  padding: 0;
  background-color: #fff;
  border: 1px solid #cccccc;
  width: 100%;
}

/* line 76, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/application.scss */
.tt-suggestion {
  padding: 0.5em;
  font-size: 19px;
  line-height: 24px;
}

/* line 82, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/application.scss */
.tt-suggestion p {
  margin: 0;
}

/* line 86, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/application.scss */
.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;
}

@media screen and (max-width: 460px) {
  /* line 93, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/application.scss */
  .tabs .tab {
    width: 46%;
  }

  /* line 97, /Users/tombyers/Documents/repos/govuk/ier-frontend/public/stylesheets/application.scss */
  .tabs .tab a {
    width: 100%;
    font-size: 15px;
  }
}
