/* govuk_frontend_toolkit styles */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/
/* CSS 3 Mixins

  Add them as you need them. This should let us manage vendor prefixes in one place.
 */
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/
/* CSS 3 Mixins

  Add them as you need them. This should let us manage vendor prefixes in one place.
 */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/*

Mixin and defaults for making buttons on GOV.UK services.

For guidance, see: https://www.gov.uk/service-manual/design-and-content/resources/buttons.html

Example usage:

.button{
  @include button;
}
.button-secondary{
  @include button($grey-3);
}
.button-warning{
  @include button($red);
}

*/
/* IER styles */
/* Global styles for all pages */
p,
ol,
ul,
li {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    p,
    ol,
    ul,
    li {
      font-size: 16px;
      line-height: 1.25; } }

ul, li {
  list-style-type: circle;
  list-style-image: url("/assets/images/bullet-disc-5px.gif"); }

ul {
  padding-left: 1em; }

li {
  margin: 0.25em 0;
  padding-left: 0.3em; }

h2 {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  margin-bottom: 1em; }
  @media (max-width: 640px) {
    h2 {
      font-size: 20px;
      line-height: 1.2; } }

h3 {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  font-weight: 700; }
  @media (max-width: 640px) {
    h3 {
      font-size: 16px;
      line-height: 1.25; } }

select {
  margin: 0 0.6em 0 0;
  max-width: 100%;
  overflow: hidden;
  border: 1px solid #aaaaaa; }

input.text {
  text-transform: none;
  border: 1px solid #bbbbbb;
  min-width: 8em;
  margin: 0;
  padding: 0.5em; }

input.long {
  width: 320px; }

textarea {
  padding: 10px; }

textarea.small {
  width: 320px;
  height: 120px; }

.button {
  background-color: #00823b;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.35em 0.5em 0.15em 0.5em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #003518;
  -moz-box-shadow: 0 2px 0 #003518;
  box-shadow: 0 2px 0 #003518;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: white; }
  .button:visited {
    background-color: #00823b; }
  .button:hover, .button:focus {
    background: #00692f; }
  .button:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #00823b;
    -moz-box-shadow: 0 0 0 #00823b;
    box-shadow: 0 0 0 #00823b; }
  .button.disabled, .button[disabled="disabled"], .button[disabled] {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5; }
    .button.disabled:hover, .button[disabled="disabled"]:hover, .button[disabled]:hover {
      cursor: default;
      background-color: #00823b; }
    .button.disabled:active, .button[disabled="disabled"]:active, .button[disabled]:active {
      top: 0;
      -webkit-box-shadow: 0 2px 0 #003518;
      -moz-box-shadow: 0 2px 0 #003518;
      box-shadow: 0 2px 0 #003518; }
  .button:hover, .button:focus, .button:visited {
    color: white; }
  .button:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0; }
  .button:active:before {
    top: -10%;
    height: 120%; }
  .button[rel="external"]:after {
    display: none;
    content: none;
    margin-left: 0;
    margin-right: 0; }

.button {
  padding: 0.3em 0.6em 0.2em 0.6em; }

.breadcrumbs {
  margin: 0 32px;
  padding: 0.75em 0;
  overflow: hidden; }

.breadcrumbs li {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  background-image: url("/assets/images/separator.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  float: left;
  list-style: none;
  line-height: 1.25;
  margin: 0 0.5em 0 0;
  padding-right: 1em;
  padding-left: 0; }
  @media (max-width: 640px) {
    .breadcrumbs li {
      font-size: 14px;
      line-height: 1.14286; } }

.breadcrumbs li:last-child {
  background: none;
  padding-right: 0; }

.breadcrumbs li a {
  color: #111; }

.breadcrumbs li strong {
  font-weight: normal; }

/* get started buttons */
.get-started {
  margin: 1.5em 0; }
  .get-started .destination {
    font-family: "nta", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    font-weight: 400;
    text-transform: none;
    color: #bfc1c3;
    display: block;
    margin-top: 0.5em;
    max-width: 13em; }
    @media (max-width: 640px) {
      .get-started .destination {
        font-size: 12px;
        line-height: 1.25; } }

.get-started .button {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 0.66667;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  display: inline-block;
  padding: 0.6em 1.7em 0.45em 0.67em;
  background-image: url("/assets/images/icon-pointer.png");
  background-position: 105% 50%;
  background-repeat: no-repeat; }
  @media (max-width: 640px) {
    .get-started .button {
      font-size: 20px;
      line-height: 1.2; } }
  @media (min-width: 769px) {
    .get-started .button {
      background-position: 100% 50%; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .get-started .button {
      background-image: url("/assets/images/icon-pointer-2x.png");
      background-size: 30px 19px; } }

i.icon-caret-left {
  background-image: url("/assets/images/icon-caret-left.png");
  display: inline-block;
  height: 100%;
  min-height: 11px;
  width: 8px;
  background-position-y: 50%;
  background-repeat: no-repeat; }

i.icon-pointer {
  display: inline-block;
  background-image: url("/assets/images/icon-pointer.png");
  background-repeat: no-repeat;
  background-position-y: 50%;
  min-height: 19px;
  width: 16px;
  margin-left: 8px;
  position: relative;
  top: 2px; }

.icon {
  margin: 0 0.3em 0 0; }

#content {
  margin: 0 auto;
  max-width: 1020px; }

article {
  padding: 0 1em; }
  @media (min-width: 641px) {
    article {
      padding: 0 2em; } }
  @media (min-width: 769px) {
    article {
      padding-left: 2em;
      margin-right: 22.25em;
      min-height: 35em;
      max-width: 38em; } }

.inner-block {
  padding: 0 15px; }

#main,
.global-header .header-wrapper {
  padding-left: 0;
  padding-right: 0; }

label,
select,
input,
textarea {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    label,
    select,
    input,
    textarea {
      font-size: 16px;
      line-height: 1.25; } }

label.above {
  display: block;
  margin: 0 0 0.5em 0; }

label.selectable {
  display: inline-block;
  cursor: pointer;
  background: #F0F0F0;
  border: 1px solid white;
  padding: 12px 14px;
  margin: 0 1em 0 0; }
  @media (max-width: 640px) {
    label.selectable {
      display: block;
      margin: 0 0 0.5em 0;
      padding-left: 46px;
      position: relative;
      line-height: 140%; }
      label.selectable.binary {
        margin: 0 8px 0.5em 0;
        display: inline-block;
        width: 48%; }
        label.selectable.binary:last-child {
          margin-right: 0; }
      label.selectable input {
        position: absolute;
        top: 18px;
        left: 18px; } }

label.selected {
  border: 1px solid #555555;
  background: #fff; }

@media (max-width: 640px) {
  textarea,
  textarea.medium,
  textarea.small,
  select.lonely,
  input.text,
  .twitter-typeahead {
    width: 100%; } }
/* Styles for the question pages */
.small-header .button {
  padding: 9px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: #222;
  box-shadow: none;
  background: rgba(0, 0, 0, 0.05);
  font-size: 16px; }
  @media (max-width: 640px) {
    .small-header .button .progress {
      float: right; } }

.questions-answered-wrap {
  display: none;
  margin: 0 1em;
  background: #F4F4F4;
  color: #222; }

.questions-main .step {
  padding: 0 1em;
  max-width: 630px; }
.questions-main .question {
  padding: 0 0 1em 0; }

.question-number {
  font-weight: normal;
  margin: 0 0.25em 0 0;
  display: -moz-inline-stack;
  display: inline-block;
  display: none; }

.question ul,
.question li {
  list-style: none;
  padding: 0; }
.question .answer {
  margin: 0 0 1em 0; }
.question .radio,
.question .checkbox {
  margin: 0 10px 0 0;
  vertical-align: 2px; }

.next-question {
  margin: 1em 0 2em 0; }
  .next-question .button {
    font-size: 19px; }
  .next-question .save {
    display: none; }

.action {
  margin: 1em 0; }

.postcode-search-results,
.type-in-address,
.address-step-2 {
  display: none; }

.details {
  max-width: 610px;
  padding: 0; }
  .details li {
    list-style: none; }
  .details .show {
    display: -moz-inline-stack;
    display: inline-block;
    margin: 0 0 0 1em; }

.detail {
  border-top: 1px solid #dddddd;
  padding: 1em 0;
  position: relative; }
  .detail h3 {
    width: 180px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    color: #555;
    font-weight: normal; }
  .detail .change {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: -4px 0 0 0;
    text-decoration: none;
    padding: 6px 8px;
    background: #F0F0F0;
    color: #222;
    font-size: 14px;
    border-bottom: 1px solid #dddddd; }
  .detail .data-wrap {
    width: 350px;
    padding: 0 20px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top; }
  .detail p {
    margin: 0 0 0.5em 0; }
  .detail .message {
    color: #555;
    margin: 0 0 0.5em 0; }
  @media (min-width: 641px) {
    .detail h3 {
      display: block;
      width: auto; }
    .detail .data-wrap {
      display: block;
      width: auto;
      padding: 0 80px 0 0; }
    .detail .change {
      position: absolute;
      top: 15px;
      right: 0; } }

.optional {
  color: #666;
  margin: 0 0.5em; }

.optional-section {
  display: none;
  margin: 1em 0 1em 0; }

.other-country .number {
  display: inline-block;
  margin: 0 0 0 0.3em; }

.other-country .remove {
  display: inline-block;
  margin: 0 0 0 1em;
  font-size: 14px; }

/* mobile */
.validation-wrap,
.validation-wrap.invalid {
  display: block; }

.next-question .button {
  width: 100%;
  height: 44px;
  text-align: center; }

.search-wrap {
  display: inline-block;
  position: relative;
  margin: 1em 0; }
  @media (max-width: 640px) {
    .search-wrap {
      display: block; } }
  .search-wrap .search {
    position: absolute;
    top: 0;
    right: 0;
    height: 45px;
    padding: 7px 17px; }
    @media (max-width: 640px) {
      .search-wrap .search {
        height: 36px; } }

.validation-wrap.invalid {
  display: -moz-inline-stack;
  display: inline-block;
  background: #f47738;
  padding: 0.2em;
  margin: -0.2em 0.4em -0.2em -0.2em; }
  .validation-wrap.invalid select {
    margin: 0; }

.validation-message {
  padding: 0.5em;
  font-size: 19px;
  display: none;
  margin: 0 0 1em 0;
  border-left: 4px solid #f47738;
  color: #f47738;
  font-weight: bold; }

.main-footer {
  height: 400px;
  background: #dee0e2;
  border-top: 10px solid #2b8cc4; }

.template {
  display: none; }

.small-header {
  max-width: 600px;
  margin: 2em 0 3em 0; }
  .small-header .steps {
    margin: 0.2em 1em; }
  .small-header .back {
    display: -moz-inline-stack;
    display: inline-block;
    text-decoration: none; }
  .small-header .steps i {
    margin: 0 0.5em 0 0; }
  .small-header .progress {
    display: -moz-inline-stack;
    display: inline-block;
    margin-left: 1em;
    padding: 9px 0 0 0;
    color: #666; }
  .small-header .progress span {
    margin: 0 0 0 0.3em; }

.start-again {
  float: right;
  margin: 0.5em 1em 1em 0; }

.help p {
  color: #555;
  margin: 1em 0 1em; }

.more-help-content {
  display: none;
  border-left: 4px solid #999999;
  padding-left: 15px;
  max-width: 610px; }

.more-help-wrap {
  margin: 0 0 1em 0; }

.more-help-link i {
  display: inline-block;
  width: 0.8em; }

.tabs {
  border-bottom: 1px solid #666666;
  margin: 1em 0 2em 0; }

.tabs .tab {
  display: inline-block;
  margin: 0 5px 0 5px;
  background: #fff; }

.tabs .tab.selected {
  margin-bottom: -1px; }

.tabs .tab.selected a {
  padding-bottom: 11px; }

.tabs .tab a {
  font-size: 17px;
  display: inline-block;
  color: #222;
  padding: 10px 14px;
  border: 1px solid #666666;
  border-bottom: none;
  text-decoration: none; }

.tab-content {
  display: none; }

.tab-content.selected {
  display: block; }

.typeahead,
.tt-query,
.tt-hint {
  font-size: 19px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  border: 1px solid #bbbbbb;
  margin: 0;
  padding: 0.5em; }

.tt-hint {
  display: none; }

.tt-dropdown-menu {
  padding: 0;
  background-color: #fff;
  border: 1px solid #cccccc;
  width: 100%; }

.tt-suggestion {
  padding: 0.5em;
  font-size: 19px;
  line-height: 24px; }

.tt-suggestion p {
  margin: 0; }

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf; }

@media screen and (max-width: 460px) {
  .tabs .tab {
    width: 46%; }

  .tabs .tab a {
    width: 100%;
    font-size: 15px; } }
