label,
select,
input,
textarea {
  @include core-19;
}

label.above{
	display: block;
	margin: 0 0 0.5em 0;
}

label.selectable{
	display: inline-block;
	cursor: pointer;
	background: #F0F0F0;
	border: 1px solid #FFF;
	padding: 12px 14px;
	margin: 0 1em 0 0;

  @include media(mobile) {
    display: block;
    margin: 0 0 0.5em 0;
    padding-left: 46px;
    position: relative;
    line-height: 140%;

    &.binary {
      margin: 0 8px 0.5em 0;
      display: inline-block;
      width: 48%;

      &:last-child{
        margin-right: 0;
      }
    }

    & input {
      position: absolute;
      top: 18px;
      left: 18px;
    }
  }
}

label.selected {
	border: 1px solid #555;
	background: #fff;
}

@include media(mobile) {
	textarea,
	textarea.medium,
	textarea.small,
	select.lonely,
	input.text,
	.twitter-typeahead {
		width: 100%;
	}
}
