article.complete {
    min-height: 300px;
}

.complete-header {
    margin: 0 2em;
    max-width: 640px;
}

div.highlighted div {
    background: none !important;
}

.highlighted {
    background: rgb(40, 161, 151) !important;
    color: #fff;
    text-align: center;
    margin: 1em 0 1em 0;
    padding: 1em;
    font-weight: bold;
}

.highlighted h2 {
    font-size: 32px;
}

.highlighted .pre-title {
    font-size: 19px;
}

.reference-number {
    font-size: 32px;
    margin: 0 0 10px 0;
}