/* Styles for the question pages */

/* global form control styles */

label,
select,
input,
textarea {
  @include core-19;
}

label.above{
	display: block;
	margin: 0 0 0.5em 0;
}

label.selectable{
  float: left;
  clear: left;
	background: #F0F0F0;
	border: 1px solid #FFF;
	padding: 12px 14px;
	margin: 0 1em 1em 0;

  @include media(mobile) {
    display: block;
    margin: 0 0 0.5em 0;
    padding-left: 46px;
    position: relative;
    line-height: 140%;

    &.binary {
      margin: 0 8px 0.5em 0;
      display: inline-block;
      width: 48%;

      &:last-child{
        margin-right: 0;
      }
    }

    & input {
      position: absolute;
      top: 18px;
      left: 18px;
    }
  }
}

label.selected {
	border: 1px solid #555;
	background: #fff;
}

textarea,
textarea.medium,
textarea.small,
select.lonely,
input.text,
.twitter-typeahead {
  width: 100%;

  @include media(mobile) {
    width: auto;
	}
}

input.text {
	text-transform: none;
	border: 1px solid #bbb;
	margin: 0;
	padding: 0.5em;
}
@include media(desktop) {
  input.text {
    min-width: 8em;
  }

  input.long {
    width: 320px;
  }

  textarea.small {
    width: 320px;
    height: 120px;
  }
}

/* Styles specific to question pages */

.back-to-previous {
  @include core-16;
  display: block;
  position: absolute;
  text-decoration: none;
  border-bottom: $black 1px solid;
  width: 2.25em;
  background: url("/assets/images/icon-caret-left.png") left 0.2em no-repeat;
  padding-left: 0.75em;
  text-align: right;
}

main header {
  &,
  & p {
    @include core-16;
  }

  padding-bottom: 2em;


  p {
    padding-left: 4.5em;
    margin-bottom: 0;
    color: $grey-1;
  }

  &.question-one p {
    padding-left: 0;
  }

  h1 {
    margin-top: 1em;
  }
}

fieldset {
  @extend %contain-floats;
  margin-left: 0;
  margin-bottom: 1em;
}

form p {
  margin-bottom: 1em;
}
.questions-answered-wrap {
	display: none;
	margin: 0 1em;
	background: #F4F4F4;
	color: #222;
}

.questions-main {
  .step {
    padding: 0 1em;
    max-width: 630px;
  }

  .question {
    padding: 0 0 1em 0;
  }
}

.question-number {
	font-weight: normal;
	margin: 0 0.25em 0 0;
  @include inline-block;
	display: none;
}

.question {
  ul,
  li {
    list-style: none;
    padding: 0;
  }

  .answer {
    margin: 0 0 1em 0;
  }

  .radio,
  .checkbox {
    margin: 0 10px 0 0;
    vertical-align: 2px;
  }
}

.next-question {
	margin: 1em 0 2em 0;

  .button{
    font-size: 19px;
  }

  .save {
    display: none;
  }
}

.action {
	margin: 1em 0;
}

.postcode-search-results,
.type-in-address,
.address-step-2 {
	display: none;
}

.details {
	max-width: 610px;
	padding: 0;

  li {
    list-style: none;
  }

  .show {
    @include inline-block;
    margin: 0 0 0 1em;
  }
}

.detail {
	border-top: 1px solid #DDD;
	padding: 1em 0;
	position: relative;

  h3 {
    width: 180px;
    @include inline-block;
    vertical-align: top;
    color: #555;
    font-weight: normal;
  }


  .change {
    @include inline-block;
    vertical-align: top;
    margin: -4px 0 0 0;
    text-decoration: none;
    padding: 6px 8px;
    background: #F0F0F0;
    color: #222;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
  }

  .data-wrap {
    width: 350px;
    padding: 0 20px;
    @include inline-block;
    vertical-align: top;
  }

  p {
    margin: 0 0 0.5em 0;
  }

  .message {
    color: #555;
    margin: 0 0 0.5em 0;
  }
  
  @include media(tablet) {
    h3{
      display: block;
      width: auto;
    }

    .data-wrap{
      display: block;
      width: auto;
      padding: 0 80px 0 0;
    }

    .change{
      position: absolute;
      top: 15px;
      right: 0;
    }
  }
}

.optional{
	color: #666;
	margin: 0 0.5em;
}

.optional-section{
	display: none;
	margin: 1em 0 1em 0;
}

.other-country .number{
	display: inline-block;
	margin: 0 0 0 0.3em;
}

.other-country .remove{
	display: inline-block;
	margin: 0 0 0 1em;
	font-size: 14px;
}
/* mobile */
	.validation-wrap,
	.validation-wrap.invalid{
		display: block;
	}

.search-wrap {
	display: inline-block;
	position: relative;
	margin: 1em 0;

  @include media(mobile) {
    display: block;
  }

  .search {
    position: absolute;
    top: 0;
    right: 0;
    height: 45px;
    padding: 7px 17px;

    @include media(mobile) {
      height: 36px;
    }
  }
}

.toggle {
  @include core-19;
  display: block;
}

.toggle-closed {
  background: url("/assets/images/icon-caret-right.png") left 0.3em no-repeat;
  padding-left: 0.75em;
}

.toggle-open {
  background: url("/assets/images/icon-caret-down.png") left 0.5em no-repeat;
  padding-left: 0.75em;
}

.info-notice {
  border-left: $grey-2 solid 4px;
  padding-left: 15px;
  margin-bottom: 2em;
}

.next {
  @include core-19;
  text-align: center;
  padding: 0.6em 0.8em 0.5em 0.8em;
  margin-bottom: 2em;
}

.validation-wrap.invalid {
	@include inline-block;
	background: #f47738;
	padding: 0.2em;
	margin: -0.2em 0.4em -0.2em -0.2em;

  select {
    margin: 0;
  }
}

.validation-message {
	padding: 0.5em;
	font-size: 19px;
	display: none;
	margin: 0 0 1em 0;
	border-left: 4px solid #f47738;
	color: #f47738;
	font-weight: bold;
}

.main-footer {
	height: 400px;
	background: #dee0e2;
	border-top: 10px solid #2b8cc4;
}

.template {
	display: none;
}

.small-header {
	max-width: 600px;
	margin: 2em 0 3em 0;

  .questions {
    margin: 0.2em 1em;
  }

  .back {
    @include inline-block;
    text-decoration: none;
  }

  .questions i {
    margin: 0 0.5em 0 0;
  } 

  .progress {
    @include inline-block;
    margin-left: 1em;
    padding: 9px 0 0 0;
    color: #666;
  }

  .progress span {
    margin: 0 0 0 0.3em;
  }
}

.start-again {
	float: right;
	margin: 0.5em 1em 1em 0;
}

.more-help-content {
	display: none;
	border-left: 4px solid #999;
	padding-left: 15px;
	max-width: 610px;
}

.more-help-wrap {
	margin: 0 0 1em 0;
}

.more-help-link i {
	display: inline-block;
	width: 0.8em;
}
