@()

@import layouts._

@main(title = Some("IER - Register to Vote"), header = head()) {
<div class="questions-main">
    <div id="exit-nationality" class="step">
        <h2><span>Sorry - you cannot register to vote</span></h2>
        <p>You can only register to vote if you’re British, or a citizen of:</p>
        <ul>
            <li>a Commonwealth country</li>
            <li>an EU country</li>
        </ul>
        <p><a href="https://www.gov.uk/voting-in-the-uk"><span>More about voting in the UK</span></a></p>
    </div>
</div>
}