@()

@import layouts._

@main(title = Some("IER - Register to Vote"), header = head()) {
<div class="questions-main">
    <div id="exit-dob" class="step">
        <h2><span>Sorry - you're not old enough to register</span></h2><p>You have to be 16 before you can register to vote.</p>
        <p>But you can vote in elections to the <a href="http://www.ukyouthparliament.org.uk">UK Youth Parliament</a> from age 11.</p>
        <p><a href="https://www.gov.uk/voting-in-the-uk">More about voting in the UK</a></p>

    </div>
</div>
}