@()
@import helper._
@import uk.gov.gds.ier.form.FormHelpers._
@import layouts._
@main(title = Some("Register to Vote - Channel Islands and the Isle Of Man"), stylesheets = head(), scripts = stepsBodyEnd(), contentClasses = Some("exit")) {
  <header>
    <h1>Registering to Vote from the Channel Islands or the Isle Of Man</h1>
  </header>
  <article>
    <p>You can't register online if you live in the Channel Islands or the Isle Of Man.</p>
    <p>But you may be able to register to vote in UK elections using a paper form. Download and complete an <a href="http://www.aboutmyvote.co.uk/register_to_vote/british_citizens_living_abroad.aspx" rel="external">'Overseas voter' form</a> from About my Vote.</p>
  </article>
}

