@()
@import helper._
@import uk.gov.gds.ier.form.FormHelpers._
@import layouts._
@main(title = Some("Register to Vote - Sorry, you can’t register to vote"),
    stylesheets = head(),
    scripts = stepsBodyEnd(), 
    contentClasses = Some("confirmation")) {
  <article>
    <h2>Sorry, you can’t register to vote</h2>
    <p>To register to vote you have to be British, or an EU or Commonwealth citizen living in the UK.</p>
    <p><a href="https://www.gov.uk/voting-in-the-uk">More about voting in the UK</a>.</p>
  </article>
}
