@()
@import helper._
@import uk.gov.gds.ier.form.FormHelpers._
@import layouts._
@main(title = Some("Register to Vote - Sorry, you can’t register to vote"),
    stylesheets = head(),
    scripts = stepsBodyEnd(), 
    contentClasses = Some("confirmation")) {
  <article>
    <h2>Sorry, you can’t register to vote without a valid Franchise</h2>
    <p>Only certain nationalities are eligible to vote.</p>
    <p>More information can be found at <a href="http://www.aboutmyvote.co.uk/who_can_register_to_vote.aspx">About my Vote - Who can vote?</a></p>
    <p><a href="https://www.gov.uk/voting-in-the-uk">More about voting in the UK</a></p>
  </article>
}
