@()
@import helper._
@import uk.gov.gds.ier.form.FormHelpers._
@import layouts._
@main(title = Some("Register to Vote - Confirm your details"), stylesheets = head(), scripts = stepsBodyEnd(), contentClasses = Some("confirmation")) {
  <article>
    <h2>Electoral registration form for Northern Ireland</h2>
    <p>To update your details on the electoral register in Northern Ireland you need to complete a registration canvass form.</p>
    <p>To register to vote, or to update your details if you have moved or changed your name, download and print the <a href="http://www.eoni.org.uk/getmedia/a67e94ab-7fbd-432c-970a-e3f375a67188/Final-Canvass-form">registration canvass form</a> [PDF, 12KB].</p>
    <p>You can find more information on the <a href="http://www.eoni.org.uk/Register-To-Vote/Register-to-vote-change-address-change-name">Electoral Office for Northern Ireland</a> website.</p>
  </article>
}