@()
@import helper._
@import uk.gov.gds.ier.form.FormHelpers._
@import layouts._
@main(title = Some("Register to Vote - Voter canvass form for Northern Ireland"), stylesheets = head(), scripts = stepsBodyEnd(), contentClasses = Some("exit")) {
  <header>
    <h1>Voter canvass form for Northern Ireland</h1>
  </header>
  <article>
    <p>You can't register online if you live in Northern Ireland.</p>
    <p>Instead, print and complete a <a href="http://www.eoni.org.uk/Register-To-Vote/Register-to-vote-change-address-change-name" rel="external">registration form</a> &#8211; then post it to your <a href="http://www.eoni.org.uk/Utility/Contact-Us" rel="external">local area electoral office</a></p>
    <p><a href="https://www.gov.uk/voting-in-the-uk">More about voting in the UK</a>.</p>
  </article>
}
