@()
@import helper._
@import uk.gov.gds.ier.form.FormHelpers._
@import layouts._
@main(title = Some("Register to Vote - Voter registration forms for Scotland"), stylesheets = head(), scripts = stepsBodyEnd(), contentClasses = Some("exit")) {
  <header>
    <h1>Voter registration forms for Scotland</h1>
  </header>
  <article>
    <p>You can't register online yet if you live in Scotland.</p>
    <p>Instead, download a <a href="https://www.aboutmyvote.co.uk/register_to_vote/electoral_registration_applica.aspx" rel="external">registration form</a> from About My Vote.</p>
  </article>
}
