@()
@import helper._
@import uk.gov.gds.ier.form.FormHelpers._
@import layouts._
@main(title = Some("Register to Vote - Electoral registration form for Scotland"), stylesheets = head(), scripts = stepsBodyEnd(), contentClasses = Some("exit")) {
  <header>
    <h1>Voter registration forms for Scotland</h1>
  </header>
  <article>
    <p>You can't register online if you live in Scotland.</p>
    <p>Instead, complete a paper form &#8211; then post it to your local Electoral Registration Office.</p>
    <ul>
      <li><a href="https://www.aboutmyvote.co.uk/register_to_vote/electoral_registration_applica/download_a_blank_electoral_reg.aspx" rel="external">Voter registration form (Scotland)</a></li>
      <li><a href="https://www.aboutmyvote.co.uk/register_to_vote/british_citizens_living_abroad/register_to_vote.aspx" rel="external">Voter registration form (British citizens living abroad)</a></li>
      <li><a href="https://www.aboutmyvote.co.uk/register_to_vote/armed_forces/registration_forms_armed_force.aspx" rel="external">Voter registration form (armed forces)</a></li>
      <li><a href="https://www.aboutmyvote.co.uk/register_to_vote/british_council_employee/registration_forms_crown_serva.aspx" rel="external">Voter registration form (Crown servants and British Council employees)</a></li>
    </ul>
    <p>Or complete the young voter registration form if you'll be 16 when the Scottish independence referendum takes place (18 September 2014).</p>
    <p><a href="http://www.aboutmyvote.co.uk/pdf/Scotland-young-person-registration-form-v3.pdf" rel="external">Young voter registration form (Scotland) [PDF, 47KB]</a>.</p>
    <p><a href="https://www.gov.uk/voting-in-the-uk">More about voting in the UK</a>.</p>
  </article>
}
