@()
@import helper._
@import uk.gov.gds.ier.form.FormHelpers._
@import layouts._
@main(title = Some("Register to Vote - Confirm your details"), stylesheets = head(), scripts = stepsBodyEnd(), contentClasses = Some("confirmation")) {
  <article>
    <h2>Electoral registration form for Scotland</h2>
    <p>To update your details on the electoral register in Scotland you need to complete an electoral registration form.</p>
    <p>To register to vote, or to update your details if you have moved or changed your name, download and print the <a href="https://www.aboutmyvote.co.uk/register_to_vote/electoral_registration_applica/download_a_blank_electoral_reg.aspx">registration form</a> [PDF, 20KB].</p>
    <p>You can also download and print the <a href="http://www.aboutmyvote.co.uk/pdf/Scotland-young-person-registration-form-v3.pdf">young voter registration form</a> [PDF, 22KB] for the Scottish independence referendum.</p>
    <p>You can find more information on the <a href="http://www.aboutmyvote.co.uk/">About My Vote</a> website.</p>
  </article>
}