@(implicit formData: uk.gov.gds.ier.validation.InProgressForm[uk.gov.gds.ier.model.InprogressOrdinary], postUrl: Call, possibleAddress: Option[uk.gov.gds.ier.model.PossibleAddress] = None, backUrl: Option[String] = None)

@import uk.gov.gds.ier.form.FormHelpers._
@import uk.gov.gds.ier.form.FieldHelpers._
@import helper.form
@import layouts._

@main(title = Some("Register to Vote - Where do you live?"), 
    stylesheets = head(), 
    scripts = stepsBodyEnd()) {

  @form(postUrl.copy(url = postUrl.url + "/lookup" )) {

        @layouts.questionHeader("Where do you live?", backUrl, 6)

        <fieldset>
            <p>If you have more than one address, just give the one where you spend most of your time.</p>
            @label(keys.possibleAddresses.postcode,
            label = "Postcode")
            <div class="validation-wrapper">
                @text(keys.possibleAddresses.postcode,
                'class -> "postcode medium validate", Symbol("data-validation-name") -> "postcode", Symbol("data-validation-type") -> "field", Symbol("data-validation-rules") -> "nonEmpty")
            </div>
            <button id="find-address" type="submit" class="button search validation-submit" data-validation-sources="postcode">Find address</button>
        </fieldset>
  }

  @form(postUrl) {
    <div id="found-addresses" role="region" aria-live="polite" aria-label="Address">
        @if(possibleAddress.isDefined && !possibleAddress.get.jsonList.addresses.isEmpty ) {
        @defining(possibleAddress.get) { possible =>
          @label(keys.address.postcode,
              label = "Postcode",
              attributes = 'class -> "hidden")
          @text(keys.address.postcode,
            'class -> "hidden", 'type -> "hidden", 'value -> possible.postcode)
          @select(keys.address.uprn, "Select your address", "" -> {if(possible.jsonList.addresses.length == 1) "1 address found" else s"${possible.jsonList.addresses.length} addresses found" } :: 
              possible.jsonList.addresses.map(s=> s.uprn.getOrElse("") -> s.addressLine.getOrElse("")),
            inputAttributes = Map(
              'class -> "lonely validate", 
              Symbol("data-validation-name") -> "addressSelect", 
              Symbol("data-validation-type") -> "field", 
              Symbol("data-validation-rules") -> "nonEmpty"))
          <div class="optional-section" id="cant-find-address">
            <h2>I can't find my address in the list</h2>
            @label(keys.address.manualAddress, "Enter your address")
            @textArea(keys.address.manualAddress, Map('class -> "small validate", 'maxlength -> "500", Symbol("data-validation-name") -> "addressExcuse", Symbol("data-validation-type") -> "field", Symbol("data-validation-rules") -> "nonEmpty"))
          </div>
        }
      } else {
        <div class="help-content" id="dont-know-postcode">
          <h2>I don't know which postcode to use</h2>
          <p>We need your address and postcode so that we can send your details to the right local Electoral Registration Office.</p>
          <h3>I don't know the postcode for my address</h3>
          <p class="postcode-finder">Look up your postcode using the <a href="http://www.postoffice.co.uk/postcode-finder" rel="external" target="_blank" class="lightbox-link" data-target="address-lightbox">Post Office's postcode finder</a>.</p>
          <h3>I don't know which address to use</h3>
          <p>If you're a student living away from home, you can register to vote at both your permanent home address and your term-time address.</p>
          <p>If you're homeless and living in temporary accommodation (for example, a long term hostel), use that address.</p>
          <p>If you're a long term patient in a psychiatric hospital, use the address of the hospital.</p>
          <p>If you're a prisoner on long term remand, use the address of the prison.</p>
          <h3>I can't provide an address</h3>
          <p>If you can't provide an address, please contact your local Electoral Registration Office.</p>
        </div>
      }

    </div>
    @validationMessages(formData)
    <button type="submit" id="continue" class="button next validation-submit" data-validation-sources="postcode">Continue</button>
    @text(keys.possibleAddresses.postcode,
      'class -> "hidden", 'type -> "hidden")
    @text(keys.possibleAddresses.jsonList,
      'class -> "hidden", 'type -> "hidden")
  }
}
