@(formData: uk.gov.gds.ier.validation.InProgressForm[uk.gov.gds.ier.model.InprogressOrdinary], backUrl: Option[String] = None)

@import helper._
@import uk.gov.gds.ier.form.FormHelpers._
@import layouts._
@import uk.gov.gds.ier.validation.constants.DateOfBirthConstants._
@import controllers.step.ordinary.routes._

@name(firstName:Option[String], middleName:Option[String], lastName:Option[String]) = {
    @{firstName.map(_ + " ").getOrElse("") + middleName.map(_ + " ").getOrElse("") + lastName.getOrElse("")}
}

@main(title = Some("Register to Vote - Confirm your details"), stylesheets = head(), scripts = stepsBodyEnd(), contentClasses = Some("confirmation")) {

      <article>
        <a id="continue" class="back-to-previous" href=@backUrl.getOrElse("") title="Back to the previous question">Back</a>
        <header>
          <h1>Register to vote</h1>
        </header>
        <p>Check your answers before sending your application.</p>
        <div>
          <h3>Name</h3>
          <div class="data-wrap">
            @validationSwitch(formData(keys.name)) {
              <p>@name(formData(keys.name.firstName).value, formData(keys.name.middleNames).value, formData(keys.name.lastName).value)</p>
            }
          </div>
          <a href="@NameController.editGet" class="change">Change<span class="visuallyhidden"> name</span></a>
        </div>
        <div>
          <h3>Previous name</h3>
          <div class="data-wrap">
            @validationSwitch(formData(keys.previousName)) {
                @if(formData(keys.previousName.hasPreviousName).value == Some("true")){
                  <p>@name(formData(keys.previousName.previousName.firstName).value, formData(keys.previousName.previousName.middleNames).value, formData(keys.previousName.previousName.lastName).value)</p>
                } else {
                  <p>I have not changed my name in the last 12 months</p>
                }
            }
          </div>
          <a href="@NameController.editGet" class="change">Change<span class="visuallyhidden"> previous name</span></a>
        </div>
        <div>
          <h3>Date of birth</h3>
          <div class="data-wrap">
            @validationSwitch(formData(keys.dob)) {
              @if(formData(keys.dob.dob.day).value.isDefined) {
                <p> @formData(keys.dob.dob.day).value.getOrElse("") @formData(keys.dob.dob.month).value.map(month => monthsByNumber(month)).getOrElse("") @formData(keys.dob.dob.year).value.getOrElse("")</p>
              }
              @if(formData(keys.dob.noDob.reason).value.isDefined) {
                <p>I cannot provide my date of birth because @formData(keys.dob.noDob.reason).value.getOrElse("") </p>
                <p>I am roughly @formData(keys.dob.noDob.range).value.getOrElse("") </p>
              }
            }
          </div>
          <a href="@DateOfBirthController.editGet" class="change">Change<span class="visuallyhidden"> date of birth</span></a>
        </div>
        <div>
          <h3>Nationality</h3>
          <div class="data-wrap">
            @validationSwitch(formData(keys.nationality)) {
              @if(formData.nationalityIsFilled()) {
                  <p>
                    I am @formData.confirmationNationalityString
                  </p>
              }else{
                  <p>I cannot provide my nationality because:</p>
                  <p>@formData(keys.nationality.noNationalityReason).value.getOrElse("")</p>
              }
            }
          </div>
          <a href="@NationalityController.editGet" class="change">Change<span class="visuallyhidden"> nationality</span></a>
        </div>
        <div>
          <h3>National Insurance number</h3>
          <div class="data-wrap">
            @validationSwitch(formData(keys.nino)) {
              @if(formData(keys.nino.nino).value.isDefined){
                <p>@formData(keys.nino.nino).value.getOrElse("")</p>
              } else {
                <p>I cannot provide my national insurance number because:</p>
                <p>@formData(keys.nino.noNinoReason).value.getOrElse("")</p>
              }
            }
          </div>
          <a href="@NinoController.editGet" class="change">Change<span class="visuallyhidden"> national insurance number</span></a>
        </div>
        <div>
          <h3>Address</h3>
          <div class="data-wrap">
            @validationSwitch(formData(keys.address)) {
              @if(formData(keys.address.addressLine).value.isDefined) {
                @formData(keys.address.addressLine).value.map { addressLine =>
                <p>@addressLine</p>
                }
              } else {
                @formData(keys.address.manualAddress).value.map { addressLine =>
                <p>@addressLine</p>
                }
              }
              @formData(keys.address.postcode).value.map { postcode =>
              <p>@postcode</p>
              }
            }
          </div>
          <a href="@AddressController.editGet" class="change">Change<span class="visuallyhidden"> address</span></a>
        </div>

        <div>
          <h3>Second address</h3>
          <div class="data-wrap">
            @validationSwitch(formData(keys.otherAddress)) {
              @if(formData(keys.otherAddress.hasOtherAddress).value == Some("true")) {
                  <p>I have a second address</p>
                }else{
                  <p>I don't have a second address</p>
                }
              }
          </div>
          <a href="@OtherAddressController.editGet" class="change">Change<span class="visuallyhidden"> second address</span></a>
        </div>

        <div>
          <h3>Previous address</h3>
          <div class="data-wrap">
          @validationSwitch(formData(keys.previousAddress)) {
            @if(formData(keys.previousAddress.movedRecently).value == Some("true")) {
              @if(formData(keys.previousAddress.previousAddress.addressLine).value.isDefined) {
                @formData(keys.previousAddress.previousAddress.addressLine).value.map { addressLine =>
                <p>@addressLine</p>
                }
              } else {
                @formData(keys.previousAddress.previousAddress.manualAddress).value.map { addressLine =>
                <p>@addressLine</p>
                }
              }
              @formData(keys.previousAddress.previousAddress.postcode).value.map { postcode =>
              <p>@postcode</p>
              }
            } else {
              <p>I have not moved in the last 12 months</p>
            }
          }
          </div>
          <a href="@PreviousAddressController.editGet" class="change">Change<span class="visuallyhidden"> previous address</span></a>
        </div>

        <div>
          <h3>Open register</h3>
          <div class="data-wrap">
          @validationSwitch(formData(keys.openRegister)) {
            @if(formData(keys.openRegister.optIn).value == Some("true")){
              <p>I want to include my details on the open register</p>
            }else{
              <p>I don’t want to include my details on the open register</p>
            }
          }
          </div>
          <a href="@OpenRegisterController.editGet" class="change">Change<span class="visuallyhidden"> if you want your details to be included on the open register</span></a>
        </div>
        <div>
          <h3>Postal vote</h3>
          <div class="data-wrap">
          @validationSwitch(formData(keys.postalVote)) {
            @if(formData(keys.postalVote.optIn).value == Some("true")){
              <p>
              @if(formData(keys.postalVote.deliveryMethod.methodName).value == Some("email")){
                  I want you to email a postal vote application form to:
                  <br/>@formData(keys.postalVote.deliveryMethod.emailAddress).value.getOrElse("")
              }else{
                  I want you to mail me a postal vote application form
              }
              </p>
            }else{
              <p>I don’t want to apply for a postal vote</p>
            }
          }
          </div>
          <a href="@PostalVoteController.editGet" class="change">Change<span class="visuallyhidden"> if you want to apply for a postal vote</span></a>
        </div>
        <div>
          <h3>How we should contact you</h3>
          <div class="data-wrap">
            @validationSwitch(formData(keys.contact)) {
              @if(formData(keys.contact.post.contactMe).value == Some("true")){
                <p>By post</p>
              }
              @if(formData(keys.contact.phone.contactMe).value == Some("true")){
                <p>By phone: @formData(keys.contact.phone.detail).value.getOrElse("")</p>
              }
              @if(formData(keys.contact.email.contactMe).value == Some("true")){
                <p>By email: @formData(keys.contact.email.detail).value.getOrElse("")</p>
              }
            }
          </div>
          <a href="@ContactController.editGet" class="change">Change<span class="visuallyhidden"> how we should contact you</span></a>
        </div>
        <div class="help-notice">
          <p>I understand that: </p>
          <p>The information I provide through this application will be used to change my details on the electoral register.</p>
          <p>If I knowingly give false information through this application, I could be fined up to £5,000 or go to prison for up to a year.</p>
          <p>My local electoral registration office may ask the Home Office to check my immigration status.</p>
        </div>
      </article>
      @form(ConfirmationController.post) {
      <input id="continue" type="submit" class="button next" value="I accept - send my application" />
      }
}
