@(implicit formData: uk.gov.gds.ier.validation.InProgressForm, postUrl:Call)

@import helper._
@import layouts._
@import uk.gov.gds.ier.form.FormHelpers._

@main(title = Some("Register to Vote - Tell us how to contact you"), stylesheets = head(), scripts = stepsBodyEnd()) {
  @form(postUrl) {
    @layouts.questionHeader("If we have questions about your application, how should we contact you?", "/register-to-vote/postal-vote", 11)

    <fieldset>
      @radio(keys.contact.contactType, value = "post", label = "Post")
      <input id="input-post" type="hidden" name="@keys.contact.post" value="@formData(keys.address.address).value.getOrElse("")" class="hidden">
      @radio(keys.contact.contactType, 
          value = "phone", 
          label = "Phone Call")
      <div class="optional-section @classIf(formData(keys.contact.contactType).value == Some("phone"), "visible")" data-condition="@keys.contact.contactType.asId("phone")">
        @text(keys.contact.phone, 
            label = "Phone number", 
            inputAttributes = Map('type -> "tel"))
      </div>
      @radio(keys.contact.contactType, value = "text", label = "Text Message")
      <div class="optional-section @classIf(formData(keys.contact.contactType).value == Some("text"), "visible")" data-condition="@keys.contact.contactType.asId("text")">
        @text(keys.contact.textNum, 
            label = "Phone number", 
            inputAttributes = Map('type -> "tel"))
      </div>
      @radio(keys.contact.contactType, value = "email", label = "Email")
      <div class="optional-section @classIf(formData(keys.contact.contactType).value == Some("email"), "visible")" data-condition="@keys.contact.contactType.asId("email")">
        @text(keys.contact.email, 
            label = "Email address", 
            inputAttributes = Map('type -> "email", 'class -> "long"))
      </div>
    </fieldset>
    @validationMessage(formData(keys.contact.contactType))
    @validationMessage(formData(keys.contact.phone))
    @validationMessage(formData(keys.contact.textNum))
    @validationMessage(formData(keys.contact.email))
    @validationMessage(formData(keys.contact))
    <button type="submit" id="continue" class="button next">Continue</button>
  }
}
