@(implicit formData: uk.gov.gds.ier.validation.InProgressForm[uk.gov.gds.ier.model.InprogressOrdinary], postUrl:Call)

@import helper._
@import layouts._
@import uk.gov.gds.ier.form.FormHelpers._

@main(title = Some("Register to Vote - Where do you live?"), stylesheets = head(), scripts = stepsBodyEnd()) {
  @form(postUrl) {
    @layouts.questionHeader("Where do you live?", "", 1)

    <fieldset class="validate" data-validation-name="country",  data-validation-type="fieldset",  data-validation-rules="atLeastOneNonEmpty", data-validation-children="england scotland wales northernIreland britishIslands abroad">
      @wrapLabel(keys.country.residence, 'value -> "England", 'class -> "selectable") {
        @radio(keys.country.residence, "England", 'class -> "validate", Symbol("data-validation-name") -> "england", Symbol("data-validation-type") -> "field", Symbol("data-validation-rules") -> "nonEmpty")
        England
      }
      @wrapLabel(keys.country.residence, 'value -> "Scotland", 'class -> "selectable") {
        @radio(keys.country.residence, "Scotland", 'class -> "validate", Symbol("data-validation-name") -> "scotland", Symbol("data-validation-type") -> "field", Symbol("data-validation-rules") -> "nonEmpty")
        Scotland
      }
      @wrapLabel(keys.country.residence, 'value -> "Wales", 'class -> "selectable") {
        @radio(keys.country.residence, "Wales", 'class -> "validate", Symbol("data-validation-name") -> "wales", Symbol("data-validation-type") -> "field", Symbol("data-validation-rules") -> "nonEmpty")
        Wales
      }
      @wrapLabel(keys.country.residence, 'value -> "Northern Ireland", 'class -> "selectable") {
        @radio(keys.country.residence, "Northern Ireland", 'class -> "validate", Symbol("data-validation-name") -> "northernIreland", Symbol("data-validation-type") -> "field", Symbol("data-validation-rules") -> "nonEmpty")
        Northern Ireland
      }
      @wrapLabel(keys.country.residence, 'value -> "British Islands", 'class -> "selectable") {
        @radio(keys.country.residence, "British Islands", 'class -> "validate", Symbol("data-validation-name") -> "britishIslands", Symbol("data-validation-type") -> "field", Symbol("data-validation-rules") -> "nonEmpty")
        Isle of Man or the Channel Islands
      }
    </fieldset>
    @validationMessages(formData)
    <button type="submit" id="continue" class="button next validation-submit" data-validation-sources="country">Continue</button>
  }
}
