@(implicit formData: uk.gov.gds.ier.validation.InProgressForm, postUrl:Call)

@import helper._
@import layouts._
@import uk.gov.gds.ier.form.FormHelpers._

@main(title = Some("Register to Vote - Where do you live?"), stylesheets = head(), scripts = stepsBodyEnd()) {
  @form(postUrl) {
    @layouts.questionHeader("Where do you live?", "", 1)

    <fieldset class="validate" data-validation-name="country",  data-validation-type="fieldset",  data-validation-rules="atLeastOneNonEmpty", data-validation-children="england scotland wales northernIreland britishIslands abroad">
      @radio(keys.country.residence, value = "England", label = "England", inputAttributes=Map('class -> "validate", Symbol("data-validation-name") -> "england", Symbol("data-validation-type") -> "field", Symbol("data-validation-rules") -> "nonEmpty"))
      @radio(keys.country.residence, value = "Scotland", label = "Scotland", inputAttributes=Map('class -> "validate", Symbol("data-validation-name") -> "scotland", Symbol("data-validation-type") -> "field", Symbol("data-validation-rules") -> "nonEmpty"))
      @radio(keys.country.residence, value = "Wales", label = "Wales", inputAttributes=Map('class -> "validate", Symbol("data-validation-name") -> "wales", Symbol("data-validation-type") -> "field", Symbol("data-validation-rules") -> "nonEmpty"))
      @radio(keys.country.residence, value = "Northern Ireland", label = "Northern Ireland", inputAttributes=Map('class -> "validate", Symbol("data-validation-name") -> "northernIreland", Symbol("data-validation-type") -> "field", Symbol("data-validation-rules") -> "nonEmpty"))
      @radio(keys.country.residence, value = "British Islands", label = "Isle of Man or the Channel Islands", inputAttributes=Map('class -> "validate", Symbol("data-validation-name") -> "britishIslands", Symbol("data-validation-type") -> "field", Symbol("data-validation-rules") -> "nonEmpty"))
      <p>or</p>
      @radio(keys.country.residence, value = "Abroad", label = "I am a British citizen living abroad", inputAttributes=Map('class -> "validate", Symbol("data-validation-name") -> "abroad", Symbol("data-validation-type") -> "field", Symbol("data-validation-rules") -> "nonEmpty"))
    </fieldset>
    @validationMessages(formData)
    <button type="submit" id="continue" class="button next validation-submit" data-validation-sources="country">Continue</button>
  }
}
