@(implicit formData: uk.gov.gds.ier.validation.InProgressForm, postUrl: Call)

@import helper.form
@import layouts._
@import uk.gov.gds.ier.validation.constants.DateOfBirthConstants
@import uk.gov.gds.ier.form.FormHelpers._

@main(title = Some("Register to Vote - What is your Date Of Birth?"), stylesheets = head(), scripts = stepsBodyEnd()) {
  @form(postUrl, 'class -> "validate", Symbol("data-validation-name") -> "dateOfBirth", Symbol("data-validation-type") -> "association", Symbol("data-validation-rules") -> "fieldsetOrExcuse", Symbol("data-validation-members") -> "dateOfBirthDate dateOfBirthExcuse") {
    @layouts.questionHeader("What is your date of birth?", "/register-to-vote/nationality", 3)

    <fieldset class="validate inlineFields" data-validation-name="dateOfBirthDate" data-validation-type="fieldset" data-validation-rules="allNonEmpty" data-validation-children="day month year">
      @select(keys.dob.dob.day,
          label = "Day",
          options = DateOfBirthConstants.days,
          inputAttributes = Map('_default -> "Day", 'class -> "day validate", Symbol("data-validation-name") -> "day", Symbol("data-validation-type") -> "field", Symbol("data-validation-rules") -> "nonEmpty"),
          labelAttributes = Map('class -> "visuallyhidden"))
      @select(keys.dob.dob.month,
          label = "Month",
          options = DateOfBirthConstants.months,
          inputAttributes = Map('_default -> "Month", 'class -> "month validate", Symbol("data-validation-name") -> "month", Symbol("data-validation-type") -> "field", Symbol("data-validation-rules") -> "nonEmpty"),
          labelAttributes = Map('class -> "visuallyhidden"))
      @label(keys.dob.dob.year,
          label = "Year",
          attributes = 'class -> "visuallyhidden")
      @text(keys.dob.dob.year,
        'class -> "year text small validate", 'type -> "number", 'placeholder -> "Year", Symbol("data-validation-name") -> "year", Symbol("data-validation-type") -> "field", Symbol("data-validation-rules") -> "nonEmpty")
    </fieldset>
    <div class="help-content">
      <h3>I don't know my exact date of birth</h3>
      <p>If you don’t know your exact date of birth, use the one you put on official documents (for example, your passport or driving licence).</p>
      <p>If you can’t provide your date of birth, you'll need to explain why. And after you've applied, you'll be asked to prove your identity by sending documents in the post (or providing them in person).</p>
      <div class="optional-section validate" data-validation-name="dateOfBirthExcuse" data-validation-type="fieldset"  data-validation-rules="allNonEmpty"  data-validation-children="dateOfBirthExcuseReason excuseAgeAttempt">
        <h3>I can't provide my date of birth</h3>
        @label(keys.dob.noDob.reason, label = "Why can't you provide your date of birth?")
        @textArea(keys.dob.noDob.reason, attributes = Map('class -> "small", 'autocomplete -> "off", Symbol("data-validation-name") -> "dateOfBirthExcuseReason", Symbol("data-validation-type") -> "field", Symbol("data-validation-rules") -> "nonEmpty"))
        <fieldset class="validate" data-validation-name="excuseAgeAttempt" data-validation-type="fieldset" data-validation-rules="atLeastOneNonEmpty" data-validation-children="excuseUnder18 excuse18to70 excuseOver70 excuseDontKnow">
          <p>How old are you?</p>
          @wrapLabel(keys.dob.noDob.range, 'value -> DateOfBirthConstants.under18, 'class -> "selectable") {
            @radio(keys.dob.noDob.range, DateOfBirthConstants.under18, 
              'class -> "validate", 
              Symbol("data-validation-name") -> "excuseUnder18", 
              Symbol("data-validation-type") -> "field", 
              Symbol("data-validation-rules") -> "nonEmpty")
            <span class="visuallyhidden">I am</span>Under 18 years old
          }
          @wrapLabel(keys.dob.noDob.range, 'value -> DateOfBirthConstants.is18to70, 'class -> "selectable") {
            @radio(keys.dob.noDob.range, DateOfBirthConstants.is18to70, 
              'class -> "validate", 
              Symbol("data-validation-name") -> "excuse18to70", 
              Symbol("data-validation-type") -> "field", 
              Symbol("data-validation-rules") -> "nonEmpty")
            <span class="visuallyhidden">I am</span>Between 18 and 70 years old
          }
          @wrapLabel(keys.dob.noDob.range, 'value -> DateOfBirthConstants.over70, 'class -> "selectable") {
            @radio(keys.dob.noDob.range, DateOfBirthConstants.over70, 
              'class -> "validate", 
              Symbol("data-validation-name") -> "excuseOver70", 
              Symbol("data-validation-type") -> "field", 
              Symbol("data-validation-rules") -> "nonEmpty")
            <span class="visuallyhidden">I am</span>Over 70 years old
          }
          @wrapLabel(keys.dob.noDob.range, 'value -> DateOfBirthConstants.dontKnow, 'class -> "selectable") {
            @radio(keys.dob.noDob.range, DateOfBirthConstants.dontKnow, 
              'class -> "validate", 
              Symbol("data-validation-name") -> "excuseDontKnow", 
              Symbol("data-validation-type") -> "field", 
              Symbol("data-validation-rules") -> "nonEmpty")
            I don't know<span class="visuallyhidden"> how old I am</span>
          }
        </fieldset>
      </div>
    </div>
    @validationMessages(formData)
    <button type="submit" id="continue" class="button next validation-submit" data-validation-sources="dateOfBirth">Continue</button>
  }
}
