@(implicit formData:uk.gov.gds.ier.validation.InProgressForm, postUrl: Call)

@import helper._
@import layouts._
@import uk.gov.gds.ier.form.FormHelpers._

@countryValue(countries:Option[List[String]], idx:Int) = {
  @(countries match {
    case Some(n) =>  n(idx)
    case None =>  ""
  })
}
@rendererWithRemoveLink(input:Html, label:Html => Html, field:Field) = {
    @label {
        <a href="#" class="remove-field" data-field="@asId(field.name)">Remove<span class="visuallyhidden"> Country</span></a>
        @input
    }
}
@main(title = Some("Register to Vote - What is your Nationality?"), stylesheets = head(), scripts = stepsBodyEnd()) {
  @form(postUrl) {

    @layouts.questionHeader("What is your nationality?", "/register-to-vote/country-of-residence", 2)
    <p>If you have dual nationality, select all options that are relevant to you.</p>
    <fieldset>
      @check(keys.nationality.british, label = "I am British", value = "true")
      @check(keys.nationality.irish, label = "I am Irish", value = "true")
      @check(keys.nationality.hasOtherCountry, label = "I am a citizen of another country", value = "true")
      <div id="add-countries" class="optional-section" data-condition="@keys.nationality.hasOtherCountry.asId()">
        @label(keys.nationality.otherCountries.item(0), label = "Which country?")  
        @text(keys.nationality.otherCountries.item(0), attributes = Map('class -> "country-autocomplete long"))
        <p class="duplication-intro" style="@if(formData.getOtherCountries.exists(_.size > 1)){ display: none }">
          If you have dual nationality <a class="duplicate-control-initial" href="#" data-field="@keys.nationality.otherCountries.item(0).asId()">add another country</a>.
        </p>
        @keys.nationality.otherCountries.each(1) { (id, i) =>
        <div class="added-country">
          @wrapLabel(keys.nationality.otherCountries.item(i), attributes = Map('class -> "country-label")) {
            Country @i <a href="#" class="remove-field" data-field="@keys.nationality.otherCountries.item(i).asId()">Remove<span class="visuallyhidden"> Country</span></a>
            @text(keys.nationality.otherCountries.item(i), attributes = Map('class -> "country-autocomplete long"))
          }
        </div>
        }
        @if(formData.getOtherCountries.exists(_.size > 1)) {
          <a class="duplicate-control" href="#">Add another country</a>
        }
      </div>
    </fieldset>
    <div class="help-content" id="nationality-help">
      <h2>Help</h2>
      <p>If you're not sure about your nationality, try to find out from an official document like a passport or national ID card.</p>
      <p>We need to know your nationality so we can work out which elections you're entitled to vote in. If you can’t confirm your nationality, you'll have to send copies of identity documents through the post.</p>
      <div class="optional-section" id="nationality-provision">
        <h3>I can't provide my nationality</h3>
        @textArea(keys.nationality.noNationalityReason, label = "Why can't you provide your nationality?", inputAttributes = Map('class -> "small", 'maxlength -> "500"))
      </div>
    </div>
    @validationMessages(formData)
    <button type="submit" id="continue" class="button next">Continue</button>
    }
}
