@(implicit formData:uk.gov.gds.ier.validation.InProgressForm[uk.gov.gds.ier.model.InprogressOrdinary], postUrl: Call)

@import helper._
@import layouts._
@import uk.gov.gds.ier.form.FormHelpers._

@countryValue(countries:Option[List[String]], idx:Int) = {
  @(countries match {
    case Some(n) =>  n(idx)
    case None =>  ""
  })
}
@rendererWithRemoveLink(input:Html, label:Html => Html, field:Field) = {
    @label {
        <a href="#" class="remove-field" data-field="@asId(field.name)">Remove<span class="visuallyhidden"> Country</span></a>
        @input
    }
}
@main(title = Some("Register to Vote - What is your Nationality?"), stylesheets = head(), scripts = stepsBodyEnd()) {
  @form(postUrl, 'class -> "validate", Symbol("data-validation-name") -> "nationality", Symbol("data-validation-type") -> "association", Symbol("data-validation-rules") -> "fieldsetOrExcuse", Symbol("data-validation-members") -> "country nationalityExcuse") {

    @layouts.questionHeader("What is your nationality?", "/register-to-vote/country-of-residence", 2)
    <p>If you have dual nationality, select all options that are relevant to you.</p>
    <fieldset class="validate" data-validation-name="country" data-validation-type="fieldset" data-validation-rules="atLeastOneChecked checkedOtherHasValue" data-validation-children="british irish other otherCountries">
      @check(keys.nationality.british, label = "British", value = "true", inputAttributes = Map('class -> "validate", Symbol("data-validation-name") -> "british", Symbol("data-validation-type") -> "field", Symbol("data-validation-rules") -> "nonEmpty"))
      @check(keys.nationality.irish, label = "Irish", value = "true", inputAttributes = Map('class -> "validate", Symbol("data-validation-name") -> "irish", Symbol("data-validation-type") -> "field", Symbol("data-validation-rules") -> "nonEmpty"))
      @check(keys.nationality.hasOtherCountry, label = "Citizen of another country", value = "true", inputAttributes = Map('class -> "validate", Symbol("data-validation-name") -> "other", Symbol("data-validation-type") -> "field", Symbol("data-validation-rules") -> "nonEmpty"))
      <div class="validation-wrapper">
        <div id="add-countries" class="optional-section validate" data-condition="@keys.nationality.hasOtherCountry.asId()" data-validation-name="otherCountries" data-validation-type="field" data-validation-rules="atLeastOneCountry">
          @label(keys.nationality.otherCountries.item(0), label = "Which country?")  
          @text(keys.nationality.otherCountries.item(0), 'class -> "country-autocomplete long")
          <p class="duplication-intro" style="@if(formData.getOtherCountries.exists(_.size > 1)){ display: none }">
            If you have dual nationality <a class="duplicate-control-initial" href="#" data-field="@keys.nationality.otherCountries.item(0).asId()">add another country</a>.
          </p>
          @keys.nationality.otherCountries.each(1) { (id, i) =>
          <div class="added-country">
            @label(keys.nationality.otherCountries.item(i), "Country " + i.toString, 'class -> "country-label")
            <a href="#" class="remove-field" data-field="@keys.nationality.otherCountries.item(i).asId()">Remove<span class="visuallyhidden"> Country</span></a>
            @text(keys.nationality.otherCountries.item(i), 'class -> "country-autocomplete long")
          </div>
          }
          @if(formData.getOtherCountries.exists(_.size > 1)) {
            <a class="duplicate-control" href="#">Add another country</a>
          }
        </div>
      </div>
    </fieldset>
    <div class="help-content" id="nationality-help">
      <h2>I don't know my nationality</h2>
      <p>We need to know your nationality so we can work out which elections you're entitled to vote in.</p> 
      <p>If you're not sure about your nationality, try to find out from an official document like a passport or national ID card.</p>
      <p>If you can’t confirm your nationality, you'll need to explain why. And after you've applied, you'll be asked to prove your identity by sending documents in the post (or providing them in person).</p>
      <div class="optional-section" id="nationality-provision">
        <h3>I can't provide my nationality</h3>
        @label(keys.nationality.noNationalityReason, "Why can't you provide your nationality?")
        @textArea(keys.nationality.noNationalityReason, Map('class -> "small validate", 'maxlength -> "500", Symbol("data-validation-name") -> "nationalityExcuse", Symbol("data-validation-type") -> "field", Symbol("data-validation-rules") -> "nonEmpty"))
      </div>
    </div>
    @validationMessages(formData)
    <button type="submit" id="continue" class="button next validation-submit" data-validation-sources="nationality">Continue</button>
    }
}
