@(implicit formData: uk.gov.gds.ier.validation.InProgressForm[uk.gov.gds.ier.model.InprogressOrdinary], postUrl: Call, backUrl: Option[String] = None)

@import helper._
@import layouts._
@import uk.gov.gds.ier.form.FormHelpers._

@main(title = Some("Register to Vote - What is your National Insurance number?"), stylesheets = head(), scripts = stepsBodyEnd()) {
  @form(postUrl, 'class -> "validate", Symbol("data-validation-name") -> "nino", Symbol("data-validation-type") ->"association", Symbol("data-validation-rules") -> "fieldsetOrExcuse", Symbol("data-validation-members") -> "ninoCode ninoExcuse") {
  
    @layouts.questionHeader("What is your National Insurance number?", backUrl, 5)
    @label(keys.nino.nino, "What is your National Insurance number?", 'class -> "visuallyhidden")
    <div class="validation-wrapper">
      @text(keys.nino.nino, 'class -> "validate nino", Symbol("data-validation-name") -> "ninoCode", Symbol("data-validation-type") -> "field", Symbol("data-validation-rules") -> "nonEmpty")
    </div>
    <p>Example: QQ 12 34 56 C</p>
    <div class="help-content">
      <h2>I don't know my National Insurance number</h2>
      <p>If you can't find your National Insurance number you can</p>
      <ul>
        <li>look for it on pay slips or official letters about tax, pensions and benefits</li>
        <li><a href="https://www.gov.uk/lost-national-insurance-number">ask for a reminder through the post</a></li>
      </ul>
      <p>If you can't provide a National Insurance number, you will need to explain why. And after you've applied, you'll be asked to prove your identity by sending documents in the post (or providing them in person).</p>
      <div class="optional-section">
        <h3>I can't provide a National Insurance number</h3>
        @label(keys.nino.noNinoReason, "Why can't you provide a National Insurance number?")
        @textArea(keys.nino.noNinoReason, Map('class -> "small validate", 'maxlength -> "500", Symbol("data-validation-name") -> "ninoExcuse", Symbol("data-validation-type") -> "field", Symbol("data-validation-rules") -> "nonEmpty"))
      </div>
    </div>
    @validationMessages(formData)
    <button type="submit" id="continue" class="button next validation-submit" data-validation-sources="nino">Continue</button>
  }
}
