@(implicit formData: uk.gov.gds.ier.validation.InProgressForm, postUrl: Call)

@import helper._
@import layouts._
@import uk.gov.gds.ier.form.FormHelpers._

@main(title = Some("Register to Vote - What is your National Insurance number?"), stylesheets = head(), scripts = stepsBodyEnd()) {
  @form(postUrl) {
  
    @layouts.questionHeader("What is your National Insurance number?", "/register-to-vote/name", 4)

    @text(keys.nino.nino, label = "What is your National Insurance number?", labelAttributes = Map('class -> "visuallyhidden"), inputAttributes = Map('class -> "nino"), crossField = keys.nino)
    <p>Example: AB 12 34 56 C</p>
    <div class="help-content">
      <h2>Help</h2>
      <p>You can find your National Insurance number on pay slips or official letters about tax, pensions and benefits.</p>
      <p><a href="https://www.gov.uk/lost-national-insurance-number">Get a reminder of your National Insurance number</a></p>
      <p>It&#39;s important that you try and find your National Insurance number - without it you will need to provide other documentation by post.</p>
      <div class="optional-section">
        <h3>I can't provide a National Insurance number</h3>
        @textArea(keys.nino.noNinoReason, label = "Why can't you provide a National Insurance number?", inputAttributes = Map('class -> "small", 'maxlength -> "500"))
      </div>
    </div>
    @validationMessage(formData(keys.nino))
    @validationMessage(formData(keys.nino.nino))
    @validationMessage(formData(keys.nino.noNinoReason))
    <button type="submit" id="continue" class="button next">Continue</button>
  }
}
