@(application: uk.gov.gds.ier.model.InprogressApplication)

@import helper._
@import layouts._


@checkedIf(condition:Boolean) = {
    @if(condition){
        checked="checked"
    }
}

@main(title = Some("Register to Vote - Tell us whether to include your details on the open register"), header = head(), scripts = stepsBodyEnd()) {

@stepIndicator(9)

<div id="step-open-register" class="step">
    @form(routes.RegisterToVoteController.next("open-register")){
        @raw.openRegister(application)
    }
</div>
}