@(implicit formData: uk.gov.gds.ier.validation.InProgressForm[uk.gov.gds.ier.model.InprogressOrdinary], postUrl: Call, backUrl: Option[String] = None)

@import helper._
@import layouts._
@import uk.gov.gds.ier.form.FormHelpers._

@main(title = Some("Register to Vote - Do you spend part of your time living at another UK address?"), 
    stylesheets = head(), 
    scripts = stepsBodyEnd()) {
  @form(postUrl) {
    @layouts.questionHeader("Do you live at a second UK address where you're registered to vote?", 
        backUrl, 8)

    <fieldset class="validate" data-validation-name="otherAddressQuestion" data-validation-type="fieldset" data-validation-rules="atLeastOneNonEmpty" data-validation-children="otherAddressYes otherAddressNo">
      @wrapLabel(keys.otherAddress.hasOtherAddress, 'value -> "true", 'class -> "binary selectable") {
        @radio(keys.otherAddress.hasOtherAddress, "true", 
          'class -> "validate", Symbol("data-validation-name") -> "otherAddressYes", Symbol("data-validation-type") -> "field", Symbol("data-validation-rules") -> "nonEmpty")
        Yes
      }
      @wrapLabel(keys.otherAddress.hasOtherAddress, 'value -> "false", 'class -> "binary selectable") {
        @radio(keys.otherAddress.hasOtherAddress, "false", 
          'class -> "validate", Symbol("data-validation-name") -> "otherAddressNo", Symbol("data-validation-type") -> "field", Symbol("data-validation-rules") -> "nonEmpty")
        No
      }
    </fieldset>
    <div class="help-content">
      <h2>I'm not sure if this applies to me</h2>
      <p>If you live at two addresses you might be able to register to vote at both. Your local Electoral Registration Office will let you know.</p>
      <p>If you are a student living away from home, you can register to vote at both your permanent home address and your term-time address.</p>
      <p>If you are registered to vote at two addresses, you can only vote once in any election.</p>
    </div>
    @validationMessages(formData)
    <button type="submit" id="continue" class="button next validation-submit" data-validation-sources="otherAddressQuestion">Continue</button>
  }
}
