@(implicit formData: uk.gov.gds.ier.validation.InProgressForm, postUrl: Call)

@import helper._
@import layouts._
@import uk.gov.gds.ier.form.FormHelpers._

@main(title = Some("Register to Vote - Do you spend part of your time living at another UK address?"), 
    stylesheets = head(), 
    scripts = stepsBodyEnd()) {
  @form(postUrl) {
    @layouts.questionHeader("Do you live at a second UK address where you're registered to vote?", 
        "/register-to-vote/previous-address", 7)

    <fieldset>
      @radio(keys.otherAddress.hasOtherAddress, 
          label = "Yes", 
          value = "true", 
          labelAttributes = Map('class -> "binary"))
      @radio(keys.otherAddress.hasOtherAddress, 
          label = "No", 
          value = "false", 
          labelAttributes = Map('class -> "binary"))
    </fieldset>
    <div class="help-content">
      <h2>Help</h2>
      <p>If you live at two addresses, and spend about the same amount of time living in each of them, you can register to vote at both.</p>
      <p>If you are a student living away from home, you can register to vote at both your permanent home address and your term-time address.</p>
      <p>If you are registered to vote at two addresses, you can only vote once in any election.</p>
    </div>
    @validationMessage(formData(keys.otherAddress))
    <button type="submit" id="continue" class="button next">Continue</button>
  }
}
