@(implicit formData: uk.gov.gds.ier.validation.InProgressForm, postUrl: Call)

@import helper._
@import layouts._
@import uk.gov.gds.ier.form.FormHelpers._

@main(title = Some("Do you want to apply for a postal vote?"), stylesheets = head(), scripts = stepsBodyEnd()) {
  @form(postUrl) {
    @layouts.questionHeader("Do you want to apply for a postal vote?", "/register-to-vote/open-register", 10)
  
    <fieldset class="validate" data-validation-name="postalVote" data-validation-type="fieldset" data-validation-rules="atLeastOneNonEmpty" data-validation-children="postalNo postalYes">
      <p>Most people vote in person at a polling station. But if you prefer to vote by post, we can send you an application form.</p>
      @wrapLabel(keys.postalVote.optIn) {
        @radio(keys.postalVote.optIn, "true", 
            'class -> "validate", Symbol("data-validation-name") -> "postalYes",  Symbol("data-validation-type") -> "field",  Symbol("data-validation-rules") -> "nonEmpty")
        Yes, send me a postal vote application form
      }
      @wrapLabel(keys.postalVote.optIn) {
        @radio(keys.postalVote.optIn, "false", 
          'class -> "validate", Symbol("data-validation-name") -> "postalNo",  Symbol("data-validation-type") -> "field",  Symbol("data-validation-rules") -> "nonEmpty")
        No, I prefer to vote in person
      }
    </fieldset>
    @validationMessages(formData)
    <button type="submit" id="continue" class="button next validation-submit" data-validation-sources="postalVote">Continue</button>
  }
}
