@(implicit formData: uk.gov.gds.ier.validation.InProgressForm, postUrl: Call, possibleAddress: Option[uk.gov.gds.ier.model.PossibleAddress] = None)

@import helper._
@import layouts._
@import uk.gov.gds.ier.form.FormHelpers._

@main(title = Some("Register to Vote - Have you moved within the last 12 months?"), stylesheets = head(), scripts = stepsBodyEnd()) {
  @form(postUrl) {
    
    @layouts.questionHeader("Have you moved within the last 12 months?", "/register-to-vote/address", 7)

    <fieldset>
      @radio(keys.previousAddress.movedRecently, 
          label = "Yes", 
          value = "true", 
          inputAttributes = Map('class -> "binary"), 
          labelAttributes = Map('class -> "binary"))
      @radio(keys.previousAddress.movedRecently, 
          label = "No", 
          value = "false", 
          inputAttributes = Map('class -> "binary"), 
          labelAttributes = Map('class -> "binary"))
    </fieldset>
    <fieldset class="optional-section optional-section-core-content @classIf(formData(keys.previousAddress.movedRecently).value == Some("true"), "visible")" data-condition="@keys.previousAddress.movedRecently.asId("true")">
      @label(keys.possibleAddresses.postcode, "Enter the postcode to find your previous address")
      @text(keys.possibleAddresses.postcode, 
          attributes = Map(
            'class -> "postcode medium",
            Symbol("data-validation-name") -> "postcode", 
            Symbol("data-validation-rules") -> "nonEmpty"))
      <button id="find-previous-address" class="button search">Find address</button>
    </fieldset>
    <div id="found-addresses">
    @if(possibleAddress.isDefined) {
      @defining(possibleAddress.get) { possible => 
        @label(keys.address.postcode, "Postcode", attributes = Map('class -> "hidden"))
        @text(keys.address.postcode, 
          attributes = Map('class -> "hidden", 'type -> "hidden", 'value -> possible.postcode))
        <label for="input-address-list">Select your address</label>
        <select id="input-address-list" name="@keys.previousAddress.previousAddress.address.key" class="lonely">
            <option value="">Please select...</option>
            @for(address <- possible.addresses) {
              <option>@address.addressLine</option>
            }
        </select>
        <div class="help-content">
            <h2>My address is not listed</h2>
            <label for="input-address-text">Enter your address</label>
            <textarea id="input-address-text" name="address.address" class="small"></textarea>
        </div>
      }
    }
    </div>
    @validationMessage(formData(keys.previousAddress))
    @validationMessage(formData(keys.previousAddress.previousAddress.address))
    @validationMessage(formData(keys.previousAddress.previousAddress.postcode))
    <button type="submit" id="continue" class="button next">Continue</button>

    @text(keys.possibleAddresses.postcode, attributes = Map('class -> "hidden", 'type -> "hidden"))
    @text(keys.possibleAddresses.jsonList, attributes = Map('class -> "hidden", 'type -> "hidden"))
  }
}
