@(implicit formData: uk.gov.gds.ier.validation.InProgressForm, postUrl: Call, possibleAddress: Option[uk.gov.gds.ier.model.Addresses] = None)

@import helper._
@import layouts._
@import uk.gov.gds.ier.form.FormHelpers._

@main(title = Some("Register to Vote - Have you moved within the last 12 months?"), stylesheets = head(), scripts = stepsBodyEnd()) {
  @form(postUrl) {
    
    @layouts.questionHeader("Have you moved within the last 12 months?", "/register-to-vote/address", 6)

    <fieldset>
      @radio(keys.previousAddress.movedRecently, 
          label = "Yes", 
          value = "true", 
          inputAttributes = Map('class -> "binary"), 
          labelAttributes = Map('class -> "binary"))
      @radio(keys.previousAddress.movedRecently, 
          label = "No", 
          value = "false", 
          inputAttributes = Map('class -> "binary"), 
          labelAttributes = Map('class -> "binary"))
    </fieldset>
    <fieldset class="optional-section optional-section-binary @classIf(formData(keys.previousAddress.movedRecently).value == Some("true"), "visible")" data-condition="@keys.previousAddress.movedRecently.asId("true")">
      @text(keys.previousAddress.previousAddress.postcode, 
          label = "Enter the postcode to find your previous address", 
          inputAttributes = Map(
            'class -> "postcode medium",
            Symbol("data-validation-name") -> "postcode", 
            Symbol("data-validation-rules") -> "nonEmpty"))
      <button id="find-previous-address" class="button search">Find address</button>
    </fieldset>
    <div id="found-addresses">
    @if(possibleAddress.size > 0) {
        <label for="input-address-list">Select your address</label>
        <select id="input-address-list" name="@keys.previousAddress.previousAddress.address.key" class="lonely">
            <option value="">Please select...</option>
            @possibleAddress match {
                case Some(addresses) => {
                    @addresses.addresses.map { address =>
                        <option>@address.addressLine</option>
                    }
                }
                case None => {}
            }
        </select>
        <div class="help-content">
            <h2>My address is not listed</h2>
            <label for="input-address-text">Enter your address</label>
            <textarea id="input-address-text" name="address.address" class="small"></textarea>
        </div>
    }
    </div>
    @validationMessage(formData(keys.previousAddress))
    @validationMessage(formData(keys.previousAddress.previousAddress.address))
    @validationMessage(formData(keys.previousAddress.previousAddress.postcode))
    <button type="submit" id="continue" class="button next">Continue</button>

    @text(keys.possibleAddresses.jsonList,
      label = "Possible Addresses",
      inputAttributes = Map('class -> "hidden", 'type -> "hidden"),
      labelAttributes = Map('class -> "hidden")) 
    
  }
}
