@(implicit formData: uk.gov.gds.ier.validation.InProgressForm, postUrl: Call, possibleAddress: Option[uk.gov.gds.ier.model.PossibleAddress] = None)

@import helper.form
@import layouts._
@import uk.gov.gds.ier.form.FormHelpers._
@import uk.gov.gds.ier.form.FieldHelpers._

@main(title = Some("Register to Vote - Have you moved within the last 12 months?"), stylesheets = head(), scripts = stepsBodyEnd()) {
  @form(postUrl) {
    
    @layouts.questionHeader("Have you moved from another UK address in the last 12 months?", "/register-to-vote/address", 7)

    <fieldset class="validate" data-validation-name="previousAddressQuestion" data-validation-type="fieldset" data-validation-rules="atLeastOneNonEmpty" data-validation-children="previousAddressYes previousAddressNo">
      @wrapLabel(keys.previousAddress.movedRecently, 'value -> "true", 'class -> "binary selectable") { 
        @radio(keys.previousAddress.movedRecently, "true", 
          'class -> "binary validate", Symbol("data-validation-name") -> "previousAddressYes", Symbol("data-validation-type") -> "field", Symbol("data-validation-rules") -> "nonEmpty")
        Yes
      }
      @wrapLabel(keys.previousAddress.movedRecently, 'value -> "false", 'class -> "binary selectable") { 
        @radio(keys.previousAddress.movedRecently, "false", 
          'class -> "binary validate", Symbol("data-validation-name") -> "previousAddressNo", Symbol("data-validation-type") -> "field", Symbol("data-validation-rules") -> "nonEmpty")
        No
      }
    </fieldset>
    <div class="optional-section optional-section-core-content @classIf(formData(keys.previousAddress.movedRecently).value == Some("true"), "visible")" data-condition="@keys.previousAddress.movedRecently.asId("true")">
      <fieldset>
        @label(keys.possibleAddresses.postcode, "Enter the postcode to find your previous address")
        @text(keys.possibleAddresses.postcode, 
          'class -> "postcode medium validate",
          Symbol("data-validation-name") -> "postcode", 
          Symbol("data-validation-type") -> "field", 
          Symbol("data-validation-rules") -> "nonEmpty")
        <button id="find-previous-address" class="button search validation-submit" data-validation-sources="postcode">Find address</button>
      </fieldset>
      <div id="found-addresses" role="region" aria-live="polite">
      @if(possibleAddress.isDefined && formData(keys.previousAddress.movedRecently).value == Some("true")) {
        @defining(possibleAddress.get) { possible => 
          @label(keys.previousAddress.previousAddress.postcode, "Postcode", 'class -> "hidden")
          @text(keys.previousAddress.previousAddress.postcode,
            'class -> "hidden", 'type -> "hidden", 'value -> possible.postcode)
          @select(keys.previousAddress.previousAddress.address, "Select your address",
            "" -> amountDescription(possible.jsonList.addresses.length, Map("singular" -> " address found", "plural" -> " addresses found")) :: possible.jsonList.addresses.map(s=>s.addressLine.get->s.addressLine.get),
            inputAttributes = Map('class -> "lonely validate", Symbol("data-validation-name") -> "addressSelect", Symbol("data-validation-type") -> "field", Symbol("data-validation-rules") -> "nonEmpty"))
        <div class="help-content">
          <h2>I can't find my previous address in the list</h2>
          @label(keys.previousAddress.manualAddress, "Enter your address")
          @textArea(keys.previousAddress.manualAddress, Map('class -> "small validate", 'maxlength -> "500"))
        </div>
        }
      } else {
        <div class="help-content">
          <h3>I don't know the postcode for my previous address</h3>
          <p>We need your previous address and postcode so we can let the right Electoral Registration Office know you've moved.</p>
          <p class="postcode-finder">Look up the postcode using the <a href="http://www.postoffice.co.uk/postcode-finder" rel="external" target="_blank" class="lightbox-link" data-target="address-lightbox">Post Office's postcode finder</a>.</p>
        </div>
      }
      </div>
    </div>
    @validationMessages(formData)
    <button type="submit" id="continue" class="button next validation-submit" data-validation-sources="postcode previousAddressQuestion">Continue</button>

    @text(keys.possibleAddresses.postcode, 'class -> "hidden", 'type -> "hidden")
    @text(keys.possibleAddresses.jsonList, 'class -> "hidden", 'type -> "hidden")
  }
}
