<h2 class="visuallyhidden">Support links</h2>
<ul>
    <li>
      <a href="https://www.gov.uk/get-on-electoral-register">
        Contact your local Electoral Registration Office for help using this service
      </a>
    </li>
</ul>
<ul>
    <li><a href="mailto:ier-feedback@digital.cabinet-office.gov.uk">Feedback</a></li>
    <li><a href="{{privacyUrl}}">Privacy</a></li>
    <li><a href="{{cookieUrl}}">Cookies</a></li>
    <li>Built by the <a href="http://digital.cabinetoffice.gov.uk/">Government Digital Service</a></li>
</ul>
