@(localAuthority: Option[uk.gov.gds.common.model.LocalAuthority] = None, refNum: Option[String] = None)

@import layouts._

@govukSearch() = {
          <a href="#search" class="search-toggle js-header-toggle">Search</a>

          <form id="search" class="site-search" action="/search" method="get" role="search">
            <div class="content">
              <label for="site-search-text">Search</label>
              <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus"/>
              <input class="submit" type="submit" value="Search"/>
            </div>
          </form>
}

@main(title = Some("Application Complete"), stylesheets = govukHead(), scripts = govukBodyEnd(), insideHeader = govukSearch(), contentClasses = Some("complete")) {
    <header>
      <h1>Application complete</h1>
      @if(refNum.isDefined) {
      <p>
        Your reference number is
        <span>@refNum.getOrElse("")</span>
      </p>
      }
    </header>
    <article>
      <h2>What happens next?</h2><p>Your application will be processed by <a href="/local-authority-url">@{localAuthority.map(_.name + ".").getOrElse("your local registration office.")}</a></p>
      <p>They will contact you within 2 weeks - either to confirm your registration, or to ask for more information.</p>
      <p class="footnote"><a href="https://www.gov.uk/voting-in-the-uk">More about information about voting</a></p>
    </article>
}
