@(localAuthority: Option[uk.gov.gds.common.model.LocalAuthority] = None)

@import layouts._

@main(title = Some("IER - Register to Vote"), stylesheets = head()) {
    <div class="questions-main">
        <div id="complete" class="step">
            <h1>Register to vote</h1>
            <h2>Your application is finished</h2><p>Your application will be sent to @{localAuthority.map(_.name + ".").getOrElse("your local registration office.")}</p>
            <p>They will contact you - either to confirm that your details have been entered onto the electoral register, or to ask you for more information.</p>
            <p>Once your details are on the register, you’ll be be sent information about elections that are coming up (including where to go to cast your vote).</p>
            <p><a href="https://www.gov.uk/voting-in-the-uk">More about voting in the UK</a> </p>
            <p><a href="http://www.aboutmyvote.co.uk/">Contact your local electoral registration office</a> <i class="icon-external-link"></i></p>
        </div>
    </div>
}