@(applicant:uk.gov.gds.ier.model.ApiApplicationResponse)
@import layouts._

@main(Some("IER - Register to Vote")) {
        <div id="confirmation">
            <h2>Congratulations!</h2>

            <p>@applicant.detail.fn @applicant.detail.ln, you're application will be processed by your Local Authorities Electoral Registration officer.</p>

            <p>First Name: @applicant.detail.fn</p>
            <p>Middle Name: @applicant.detail.mn</p>
            <p>Last Name: @applicant.detail.ln</p>
            <p>Previous Last Name: @applicant.detail.pln</p>
            <p>Date Of Birth: @applicant.detail.dob.toString()</p>
            <p>IER ID: @applicant.ierId</p>
            <p>Nino: @applicant.detail.nino</p>
            <p>Creation Date: @applicant.createdAt.toString()</p>
            <p>Status: @applicant.status</p>
        </div>

}
