@(formData: uk.gov.gds.ier.validation.InProgressForm)

@import helper._
@import uk.gov.gds.ier.form.FormHelpers._
@import layouts._
@import uk.gov.gds.ier.validation.DateOfBirthConstants._

@name(firstName:Option[String], middleName:Option[String], lastName:Option[String]) = {
    @{firstName.map(_ + " ").getOrElse("") + middleName.map(_ + " ").getOrElse("") + lastName.getOrElse("")}
}

@main(title = Some("Register to Vote - Confirm your details"), stylesheets = head(), scripts = stepsBodyEnd(), contentClasses = Some("confirmation")) {

      <article>
        <a id="continue" class="back-to-previous" href="/register-to-vote/contact" title="Back to the previous question">Back</a>
        <header>
          <h1>Register to vote</h1>
        </header>
        <p>Please check your details carefully and correct any mistakes.</p>
        <div>
          <h3>Name</h3>
          <div class="data-wrap">
            @validationSwitch(formData(keys.name)) {
              <p>@name(formData(keys.name.firstName).value, formData(keys.name.middleNames).value, formData(keys.name.lastName).value)</p>
            }
          </div>
          <a href="@step.routes.NameController.editGet" class="change">Change<span class="visuallyhidden"> name</span></a>
        </div>
        <div>
          <h3>Previous name</h3>
          <div class="data-wrap">
            @validationSwitch(formData(keys.previousName)) {
                @if(formData(keys.previousName.hasPreviousName).value == Some("true")){
                  <p>@name(formData(keys.previousName.previousName.firstName).value, formData(keys.previousName.previousName.middleNames).value, formData(keys.previousName.previousName.lastName).value)</p>
                } else {
                  <p class="message">You have not changed your name in the last 12 months</p>
                }
            }
          </div>
          <a href="@step.routes.NameController.editGet" class="change">Change<span class="visuallyhidden"> previous name</span></a>
        </div>
        <div>
          <h3>Date of birth</h3>
          <div class="data-wrap">
            @validationSwitch(formData(keys.dob)) {
              @if(formData(keys.dob.dob.day).value.isDefined) {
                <p> @formData(keys.dob.dob.day).value.getOrElse("") @formData(keys.dob.dob.month).value.map(month => monthsByNumber(month)).getOrElse("") @formData(keys.dob.dob.year).value.getOrElse("")</p>
              }
              @if(formData(keys.dob.noDob.reason).value.isDefined) {
                <p>You cannot provide your date of birth because @formData(keys.dob.noDob.reason).value.getOrElse("") </p>
                <p>You are roughly @formData(keys.dob.noDob.range).value.getOrElse("") </p>
              }
            }
          </div>
          <a href="@step.routes.DateOfBirthController.editGet" class="change">Change<span class="visuallyhidden"> date of birth</span></a>
        </div>
        <div>
          <h3>Nationality</h3>
          <div class="data-wrap"> 
            @validationSwitch(formData(keys.nationality)) {
              @if(formData.nationalityIsFilled()) {
                  <p>
                    You are @formData.confirmationNationalityString
                  </p>
              }else{
                  <p>You cannot provide your nationality because:</p>
                  <p>@formData(keys.nationality.noNationalityReason).value.getOrElse("")</p>
              }
            }
          </div>
          <a href="@step.routes.NationalityController.editGet" class="change">Change<span class="visuallyhidden"> nationality</span></a>
        </div>
        <div>
          <h3>National Insurance number</h3>
          <div class="data-wrap">
            @validationSwitch(formData(keys.nino)) {
              @if(formData(keys.nino.nino).value.isDefined){
                <p>@formData(keys.nino.nino).value.getOrElse("")</p>
              } else {
                <p>You cannot provide your national insurance number because:</p>
                <p>@formData(keys.nino.noNinoReason).value.getOrElse("")</p>
              }
            }
          </div>
          <a href="@step.routes.NinoController.editGet" class="change">Change<span class="visuallyhidden"> national insurance number</span></a>
        </div>
        <div>
          <h3>Address</h3>
          <div class="data-wrap"> 
            @validationSwitch(formData(keys.address)) {
              <p>@formData(keys.address.address).value.getOrElse(formData(keys.address.manualAddress).value.getOrElse(""))</p>
              <p>@formData(keys.address.postcode).value.getOrElse("")</p>
            }
          </div>
          <a href="@step.routes.AddressController.editGet" class="change">Change<span class="visuallyhidden"> address</span></a>
        </div>
        <div>
          <h3>Previous address</h3>
          <div class="data-wrap"> 
          @validationSwitch(formData(keys.previousAddress)) {
            @if(formData(keys.previousAddress.movedRecently).value == Some("true")){
              <p>@formData(keys.previousAddress.previousAddress.address).value.getOrElse(formData(keys.previousAddress.previousAddress.manualAddress).value.getOrElse(""))</p>
              <p>@formData(keys.previousAddress.previousAddress.postcode).value.getOrElse("")</p>
            }else{
              <p>You have not moved in the last 12 months</p>
            }
          }
          </div>
          <a href="@step.routes.PreviousAddressController.editGet" class="change">Change<span class="visuallyhidden"> previous address</span></a>
        </div>
        <div>
          <h3>Second address</h3>
          <div class="data-wrap"> 
          @validationSwitch(formData(keys.otherAddress)) {
            @if(formData(keys.otherAddress.hasOtherAddress).value == Some("true")){
                <p>You have a second address</p>
            }else{
                <p>You don't have a second address</p>
            }
          }
          </div>
          <a href="@step.routes.OtherAddressController.editGet" class="change">Change<span class="visuallyhidden"> second address</span></a>
        </div>
        <div>
          <h3>Open register</h3>
          <div class="data-wrap"> 
          @validationSwitch(formData(keys.openRegister)) {
            @if(formData(keys.openRegister.optIn).value == Some("true")){
              <p>You want us to include your details on the open register so they are available to charities and companies.</p>
            }else{
              <p>You don’t want us to include your details on the open register so they are available to charities and companies.</p>
            }
          }
          </div>
          <a href="@step.routes.OpenRegisterController.editGet" class="change">Change<span class="visuallyhidden"> if you want your details to be included on the open register</span></a>
        </div>
        <div>
          <h3>Postal vote</h3>
          <div class="data-wrap"> 
          @validationSwitch(formData(keys.postalVote)) {
            @if(formData(keys.postalVote.optIn).value == Some("true")){
              <p>I want to apply for a postal vote</p>
            }else{
              <p>I don’t want to apply for a postal vote</p>
            }
          }
          </div>
          <a href="@step.routes.PostalVoteController.editGet" class="change">Change<span class="visuallyhidden"> if you want to apply for a postal vote</span></a>
        </div>
        <div>
          <h3>How we should contact you</h3>
          <div class="data-wrap">
            @validationSwitch(formData(keys.contact)) {
              @if(formData(keys.contact.post.contactMe).value == Some("true")){
                <p>By post</p>
              }
              @if(formData(keys.contact.phone.contactMe).value == Some("true")){
                <p>By phone: @formData(keys.contact.phone.detail).value.getOrElse("")</p>
              }
              @if(formData(keys.contact.textNum.contactMe).value == Some("true")){
                <p>By text message: @formData(keys.contact.textNum.detail).value.getOrElse("")</p>
              }
              @if(formData(keys.contact.email.contactMe).value == Some("true")){
                <p>By email: @formData(keys.contact.email.detail).value.getOrElse("")</p>
              }
            }
          </div>
          <a href="@step.routes.ContactController.editGet" class="change">Change<span class="visuallyhidden"> how we should contact you</span></a>
        </div>
        <div class="help-notice">
          <p>I understand that the information I provide through this application will be used to change my details on the electoral register.</p>
          <p>I understand that if I knowingly give false information through this application, I could be fined up to £5,000 or go to prison for up to a year.</p>
        </div>
      </article>
      @form(routes.ConfirmationController.post) {
      <input id="continue" type="submit" class="button next" value="I accept - send my application" />
      }
}
