@(applicantForm: Form[uk.gov.gds.ier.model.WebApplication])

@import helper.twitterBootstrap._
@import helper._
@import layouts._

@main(title = Some("IER - Register to Vote"), header = head(), scripts = bodyEnd()) {
          <div class="questions-main">




            <div id="step-nino" class="step">
              <h2><span class="question-number">5</span><span>What is your National Insurance number?</span></h2>
              <div class="help">
                <!--
                <p>You can find your National Insurance number on pay slips or official letters about tax, pensions and benefits.</p>
                -->
              </div>
              <div class="question">
                <div class="validation-wrap">
                  <input id="input-nino" type="text" name="NINO" class="text nino">
                </div>
                <div class="help">
                  <p>Example: AB 12 34 56 C</p>
                </div>
              </div>
              <div class="more-help-wrap">
                <div class="more-help-link"><span><i class="icon-caret-right"></i><a href="#">Help</a></span></div>
                <div class="more-help-content"><p>You can find your National Insurance number on pay slips or official letters about tax, pensions and benefits.</p>
<p><a href="https://www.gov.uk/lost-national-insurance-number">Get a reminder of your National Insurance number</a></p>
<p>It&#39;s important that you try and find your National Insurance number - without it you will need to provide other documentation by post.</p>

                  <p><a id="noNinoLink" href="#">I can't provide a National Insurance number</a></p>
                  <div id="optional-section-no-nino" class="optional-section">
                    <div class="question">
                      <label class="above">Why can't you provide a National Insurance number?</label>
                      <textarea name="noNINOReason" class="small"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="validation-message"></div>
              <div class="next-question">
                <button data-next="step-address" class="button next">Continue</button>
                <button class="button save">Continue</button>
              </div>
            </div>
            <div id="step-address" class="step">
              <h2><span class="question-number">6</span><span>Where do you live?</span></h2>
              <div class="help">
                <p>If you have more than one address, just give the one where you spend most of your time.</p>
              </div>
              <div class="address-tabs">
                <div class="address-step-1">
                  <div class="question">
                    <label class="above">Enter your postcode to search for your address</label>
                    <div class="search-wrap">
                      <input type="text" name="postcode" class="postcode text long">
                      <button class="button search"><span>Find address</span></button>
                    </div>
                  </div>
                </div>
                <div class="postcode-search-results">
                  <div class="question">
                    <div class="validation-wrap">
                      <select id="input-address-list" name="address" data-name="Address" class="addressList lonely"></select>
                    </div>
                    <div class="action"><a href="#" class="address-not-listed">My address is not listed</a></div>
                  </div>
                </div>
                <div class="type-in-address">
                  <div class="question">
                    <label class="above">Address</label>
                    <textarea id="input-address-text" name="address" class="small"></textarea>
                  </div>
                </div>
              </div>
              <div class="address-step-2">
                <div class="validation-message"></div>
                <div class="next-question">
                  <button data-next="step-previous-address" class="button next">Continue</button>
                  <button class="button save">Continue</button>
                </div>
              </div>
            </div>
            <div id="step-previous-address" class="step">
              <h2><span class="question-number">7</span><span>Have you moved within the last 12 months?</span></h2>
              <div class="question">
                <label class="selectable binary">
                  <input type="radio" name="movedRecently" value="true" class="radio"><span>Yes</span>
                </label>
                <label class="selectable binary">
                  <input type="radio" name="movedRecently" value="false" class="radio"><span>No</span>
                </label>
              </div>
              <div class="optional-section optional-section-previous-address">
                <div class="address-tabs">
                  <div class="address-step-1">
                    <div class="question">
                      <label class="above">Enter the postcode to find your previous address</label>
                      <div class="search-wrap">
                        <input type="text" name="previousPostcode" class="postcode text long">
                        <button class="button search"><span>Find address</span></button>
                      </div>
                    </div>
                  </div>
                  <div class="postcode-search-results">
                    <div class="question"><span class="validation-wrap">
                        <select id="input-previous-address-list" name="previousAddress" data-name="previousAddress" class="addressList lonely"></select></span>
                      <div class="action"><a href="#" class="address-not-listed">The address is not listed</a></div>
                    </div>
                  </div>
                  <div class="type-in-address">
                    <div class="question">
                      <label class="above">Previous address</label><span class="validation-wrap">
                        <textarea id="input-previous-address-text" name="previousAddress" class="small"></textarea></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="validation-message"></div>
              <div class="next-question">
                <button data-next="step-other-address" class="button next">Continue</button>
                <button class="button save">Continue</button>
              </div>
            </div>
            <div id="step-other-address" class="step">
              <h2><span class="question-number">8</span><span>Do you spend part of your time living at another UK address?</span></h2>
              <div class="question">
                <label class="selectable binary">
                  <input type="radio" name="hasOtherAddress" value="true" class="radio"><span>Yes</span>
                </label>
                <label class="selectable binary">
                  <input type="radio" name="hasOtherAddress" value="false" class="radio"><span>No</span>
                </label>
              </div>
              <div class="optional-section optional-section-other-address">
                <div class="address-tabs">
                  <div class="address-step-1">
                    <div class="question">
                      <label class="above">Enter the postcode to find your second address</label>
                      <div class="search-wrap">
                        <input type="text" name="otherPostcode" class="postcode text long">
                        <button class="button search"><span>Find address</span></button>
                      </div>
                    </div>
                  </div>
                  <div class="postcode-search-results">
                    <div class="question"><span class="validation-wrap">
                        <select id="input-other-address-list" name="otherAddress" data-name="otherAddress" class="addressList lonely"></select></span>
                      <div class="action"><a href="#" class="address-not-listed">The address is not listed</a></div>
                    </div>
                  </div>
                  <div class="type-in-address">
                    <div class="question">
                      <label class="above">Second address</label><span class="validation-wrap">
                        <textarea id="input-other-address-text" name="otherAddress" class="small"></textarea></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="validation-message"></div>
              <div class="next-question">
                <button data-next="step-other-ways-to-vote" class="button next">Continue</button>
                <button class="button save">Continue</button>
              </div>
            </div>
            <div id="step-other-ways-to-vote" class="step">
              <h2><span class="question-number">9</span><span>Tell us if you want information about postal or proxy voting</span></h2>
              <div class="help">
                <p>You’ll get a polling card from your local council shortly before each election. The polling card will tell you which polling station to vote at.</p>
                <p>You can also apply to vote by post or arrange for someone else to vote for you (called voting ‘by proxy’).</p>
              </div>
              <div class="question">
                <ul class="answers">
                  <li class="answer">
                    <label class="selectable">
                      <input type="checkbox" name="voteByPost" value="true" class="checkbox"><span>Send me information on voting by post</span>
                    </label>
                  </li>
                  <li class="answer">
                    <label class="selectable">
                      <input type="checkbox" name="voteByProxy" value="true" class="checkbox"><span>Send me information on voting by proxy</span>
                    </label>
                  </li>
                </ul>
              </div>
              <div class="next-question">
                <button data-next="step-open-register" class="button next">Continue</button>
                <button class="button save">Continue</button>
              </div>
            </div>
            <div id="step-open-register" class="step">
              <h2><span class="question-number">10</span><span>Tell us whether to include your details on the open register</span></h2>
              <div class="help">
                <p>The open register is an edited version of the electoral register that’s available for sale to anyone (for example, companies or charities who want to send you information).</p>
                <p>You can choose whether your details are included on the open register. It doesn’t affect your right to vote.</p>
              </div>
              <!--
              <div class="help">
                <p>The Edited register allows companies and charities to find information about you.</p>
              </div>
              -->
              <div class="question">
                <ul class="answers">
                  <li class="answer">
                    <label class="selectable">
                      <input type="radio" name="editedRegisterOptin" value="true" class="radio"><span>Include my details on the open register</span>
                    </label>
                  </li>
                  <li class="answer">
                    <label class="selectable">
                      <input type="radio" name="editedRegisterOptin" value="false" class="radio"><span>Don't include my details on the open register</span>
                    </label>
                  </li>
                </ul>
              </div>
              <div class="validation-message"></div>
              <div class="next-question">
                <button data-next="step-contact" class="button next">Continue</button>
                <button class="button save">Continue</button>
              </div>
            </div>
            <div id="step-contact" class="step">
              <h2><span class="question-number">11</span><span>Tell us how to contact you</span></h2>
              <div class="help">
                <p>If we have any questions about your application, we’ll contact you by post.</p>
                <p>But if you want us to contact you in other way, give us your phone number or email address.</p>
              </div>
              <div class="question">
                <label class="above"><span>Phone number</span><span class="optional">(optional)</span></label>
                <input type="tel" name="telephone" class="text">
              </div>
              <div class="question">
                <label class="above"><span>Email</span><span class="optional">(optional)</span></label>
                <input type="email" name="email" class="text long">
              </div>
              <div class="next-question">
                <button data-next="confirmation" class="button next">Continue</button>
                <button class="button save">Continue</button>
              </div>
            </div>

          </div>
}
