@(applicantForm: Form[uk.gov.gds.ier.model.WebApplication])

@import helper.twitterBootstrap._
@import helper._
@import layouts._

@main(title = Some("IER - Register to Vote"), header = head(), scripts = bodyEnd()) {
          <div class="questions-main">










            <div id="step-contact" class="step">
              <h2><span class="question-number">11</span><span>Tell us how to contact you</span></h2>
              <div class="help">
                <p>If we have any questions about your application, we’ll contact you by post.</p>
                <p>But if you want us to contact you in other way, give us your phone number or email address.</p>
              </div>
              <div class="question">
                <label class="above"><span>Phone number</span><span class="optional">(optional)</span></label>
                <input type="tel" name="telephone" class="text">
              </div>
              <div class="question">
                <label class="above"><span>Email</span><span class="optional">(optional)</span></label>
                <input type="email" name="email" class="text long">
              </div>
              <div class="next-question">
                <button data-next="confirmation" class="button next">Continue</button>
                <button class="button save">Continue</button>
              </div>
            </div>

          </div>
}
