@()

<script src="@routes.Assets.at("javascripts/vendor/jquery/jquery-1.10.1.min.js")"></script>
<script src="@routes.Assets.at("javascripts/vendor/mustache.js")"></script>
<script src="@routes.Assets.at("javascripts/vendor/jquery/typeahead.js")"></script>
<script src="@routes.Assets.at("javascripts/core.js")"></script>
<script src="@routes.Assets.at("javascripts/countries.js")"></script>
<script src="@routes.Assets.at("javascripts/validation.js")"></script>
<script src="@routes.Assets.at("javascripts/forms.js")"></script>
<script src="@routes.Assets.at("javascripts/onready.js")"></script>

