@()

<script src="@routes.Assets.at("javascripts/vendor/jquery/jquery-1.10.1.min.js")"></script>
<script src="@routes.Assets.at("javascripts/vendor/mustache.js")"></script>
<script src="@routes.Assets.at("javascripts/vendor/jquery/typeahead.js")"></script>
<script src="@routes.Assets.at("javascripts/core.js")"></script>
<script src="@routes.Assets.at("javascripts/countries.js")"></script>
<script src="@routes.Assets.at("javascripts/validation.js")"></script>
<script src="@routes.Assets.at("javascripts/forms.js")"></script>
<script src="@routes.Assets.at("javascripts/onready.js")"></script>

<!-- Google Tag Manager -->
<noscript>
    <iframe
      src="//www.googletagmanager.com/ns.html?id=GTM-PXM4JV"
      height="0"
      width="0"
      style="display:none;visibility:hidden"></iframe>
</noscript>
<script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PXM4JV');
</script>
<!-- End Google Tag Manager -->
