@(title:Option[String] = None, stylesheets: Html = Html.empty, scripts: Html = Html.empty, insideHeader: Html = Html.empty, footerTop: Html = Html.empty, footerLinks: Html = Html.empty, related: Html = Html.empty, contentClasses:Option[String] = None)(content:Html)

@footerLinks() = {
  <h2 class="visuallyhidden">Support links</h2>
  <ul>
    <li><a href="mailto:ier-feedback@@digital.cabinet-office.gov.uk">Feedback</a></li>
    <li>Built by the <a href="http://digital.cabinetoffice.gov.uk/">Government Digital Service</a></li>
  </ul>
}

@govuk_template(title, None)(stylesheets, scripts, insideHeader, footerTop, footerLinks){
@if(contentClasses != None) {
    <main id="content" class="@contentClasses.get">
} else {
    <main id="content">
}
      @content
    </main>
    @related
}
