@(pageHeading:String, previousURL:String, question:Int = 0, of:Int = 10)

@if(question > 1){
<a class="back-to-previous" href="@previousURL" title="Back to the previous question">Back</a>
<header>
}else{
<header class="question-one">
}
  <p>Question @question of @of</p>
  <h1>@pageHeading</h1>
</header>
    <!--
    <div class="questions"><a href="#" class="back button"><i class="icon-caret-left"></i><span>Back</span></a>
        <div class="progress"><span class="question">Question</span><span id="progressStep" class="page-number">@question</span><span class="of">of</span><span class="total">@of</span></div>
    </div>
    -->

