@(question:Int = 0, of:Int = 10)

@if(question > 1){<a class="" href="">Back<span class="visuallyhidden"> to the previous question</span></a>}
<header>
    <p>Question @question of @of</p>
    <!--
    <div class="questions"><a href="#" class="back button"><i class="icon-caret-left"></i><span>Back</span></a>
        <div class="progress"><span class="question">Question</span><span id="progressStep" class="page-number">@question</span><span class="of">of</span><span class="total">@of</span></div>
    </div>
    -->

